
@{
    ViewBag.Title = "HCM | Candidate’s Full Data + Hiring Information";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Candidate’s Full Data + Hiring Information
    </h1>
    <div class="row">
        <div class="box box-solid">
            <div class="box-body no-border no-pad-top no-pad-bot">
                <div class="row" id="search" style="padding-top:10px;">
                    <div class="form-group form-group-sm col-sm-4  col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon nomallabel">Name</span>
                            <input type="text" id="txtSearch" name="txtSearch" class="form-control" data-bind="value : name , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-4  col-xs-4 hidden">
                        <div class="input-group">
                            <span class="input-group-addon nomallabel">Lastname</span>
                            <input type="text" id="txtSearchLastname" name="txtSearchLastname" class="form-control" data-bind="value : lastname , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-4  col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon nomallabel">ID Crad</span>
                            <input type="text" id="txtSearchIdcard" name="txtSearchIdcard" class="form-control" data-bind="value : idcard , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group form-group-sm col-sm-4  col-xs-4" hidden="hidden">
                        <div class="input-group">
                           
                            <div class="col-md-12" style=" margin-top:5px;"> <span class="input-group-addon nomallabel">Gender</span>
                                <label class="control-label">
                                    <input type="radio" name="Status" checked id="rdlStatus" class="flat-green radio radio-inline" data-bind='iCheck: { checked: active_status}' value="Y">Active<br>
                                </label>
                                <label class="control-label">
                                    <input type="radio" name="Status" id="rdlStatus" class="flat-green radio radio-inline" data-bind='iCheck: { checked: active_status}' value="N">Inactive<br>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-6 col-xs-6">
                        <div class="input-group">
                            
                            <div class="col-md-12" style=" margin-top:5px;"><span class="nomallabel">Status</span>
                                <label class="control-label">
                                    <input type="radio" name="Status" checked id="rdlStatus" class="flat-green radio radio-inline" data-bind='iCheck: { checked: active_status}' value="Y">Active<br>
                                </label>
                                <label class="control-label">
                                    <input type="radio" name="Status" id="rdlStatus" class="flat-green radio radio-inline" data-bind='iCheck: { checked: active_status}' value="N">Inactive<br>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-sm col-xs-12  text-left">
                        <button type="button" class="btn btn-info" onclick="LoadData();">Search</button>

                        @*<button type="button" class="btn btn-success" onclick="AddData();">Edit Trainee Data</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- Main content -->
<div class="collapse in" id="divTable">
    <section class="content no-pad-top ">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            Search Results
                            <div class="box-tools pull-right">
                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover display" id="gvwData" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                @*<input type="hidden" id="txtSess" name="txtSess" class="form-control" data-bind='value: session' />*@
            </div>

        </form>
    </section>
</div>
@section style{

    @*<link href="~/Scripts/plugins/DataTables2/FixedColumns-3.2.2/css/fixedColumns.dataTables.css" rel="stylesheet" />*@
}
@section scripts{
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/DataTables2/datetimeSort.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>
    @*<script src="~/Scripts/plugins/DataTables2/FixedColumns-3.2.2/js/dataTables.fixedColumns.js"></script>*@
    <script type="text/javascript">
        var objModel = @Html.Raw(Json.Encode(Model));
        $(function () {
            SetTable();
            //setDatePickerFromTo($("input[id$=txtDateStart]"), $("input[id$=txtDateTo]"));
            BindData(objModel);
            ko.applyBindings(viewModel);
        });
        function AddData() {
            window.location.href = '@Url.Action("TraineeUserID", "Candidates")';
        }
        function Edit(sVal) {

            BlockUI();
            window.location.href = '@Url.Action("CandidateEdit", "Candidates")?id=' + sVal;
        }
        function Search() {
            var lstSearch = ko.toJS(viewModel)
            return lstSearch;
        };
        function LoadData() {
            $('div[id$=divTable]').collapse("show");
            $('#gvwData').DataTable().columns.adjust().draw();
            var Param = Search();
            BlockUI();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadCandidateList", "Candidates")',
                dataType: "json",
                data: { SearchItem: Param },
                success: function (response) {
                    if (response.result.Status == SysProcess.SessionExpired) {1
                        PopupLogin('@Url.Action("Index", "Home")');
                    }
                    else {
                        var lstData = response.result.lstData;
                        if (lstData == undefined || lstData.length <= 0) {
                            $('div[id$=divTable]').collapse("show");
                            $('#gvwData').DataTable().clear().draw();
                            $('#gvwData').dataTable().fnDraw();
                            $('#gvwData').DataTable().columns.adjust().draw();
                        }
                        else {
                            $('div[id$=divTable]').collapse("show");
                            $('#gvwData').DataTable().clear().draw();
                            $('#gvwData').dataTable().fnAddData(lstData);
                            $('#gvwData').dataTable().fnDraw();
                            $('#gvwData').DataTable().columns.adjust().draw();
                        }
                    }
                },
                complete: function (jqXHR, status) {//finaly
                    $('#gvwData').DataTable().columns.adjust().draw();
                    $('#gvwData').DataTable().columns.adjust().responsive.recalc();
                    UnblockUI();
                }
            });
        }

        function Cancel() {
            window.location.reload();
        }

        function SetTable() {
            var objHeadClRequest = [
                { "title": "Edit", "width": "5%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "Edit" },
                { "title": "Candidate Full Name", "width": "20%", "className": "dt-left-ctm", "data": "name_en" },
                { "title": "Status", "width": "10%", "className": "dt-center-ctm", "data": "active_status" },
                { "title": "Created Date", "width": "13%", "className": "dt-center-ctm", "data": "create_date" },
                { "title": "Created by", "width": "10%", "className": "dt-center-ctm", "data": "create_user" },
                { "title": "Update Date", "width": "13%", "className": "dt-center-ctm", "data": "update_date" },
                { "title": "Update By", "width": "10%", "className": "dt-center-ctm", "data": "update_user" },
            ];

            var objTableRe = {
                sTableID: "gvwData",
                nDis: [],
                sProperty: "<'top col-md-6'l>rt<'bottom col-md-6'fi><'bottom col-md-6 text-right'p><'clear'>",//length pangging
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset
                nHeadFix:  0,// fix clr
                EmptyTable: EmptyTable,
                order: [[5, "desc"]],
                columnDefs: [{
                    "targets": 3,
                    "type": "date-th",
                }, {
                    "targets": 5,
                    "type": "date-th",
                }],
                objBeforeClRender: false,
                lengthMN:[[15, 100, 150, -1], [15, 100, 150, "All"]],
            };

            var table = CreatTableJS(objTableRe);
            //new $.fn.dataTable.FixedHeader($('#gvwData'));
        }
    </script>
    @*Script for bind Data KnockOut*@
    <script type="text/javascript">
        var viewModel = {

        };
        function ViewModel() {
            var self = this;
            self.conditionChecked = ko.observable(false);
            self.loadCondition = function () {
                //ajax request to get condition value. Suppose ajax request returned value "used". so
                self.conditionChecked("used");
            }
            self.loadCondition();
            ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh

                init: function (element, valueAccessor) {
                    var ctrl = $(element);
                    var sID = ctrl[0].id;
                    //initialize icheck to the element
                    $(element).iCheck({
                        radioClass: 'iradio_flat-green'
                    });
                    $(element).on('ifChecked', function (event) {

                        var observable = valueAccessor();
                        observable.checked(event.target.defaultValue); //assigning selected value

                    });

                },
                update: function (element, valueAccessor) {
                    var observable = valueAccessor();
                }
            };
        }
        function BindData(value) {
            if (viewModel.name == undefined) {
                viewModel = ko.mapping.fromJS(value);
                ViewModel();
                $("input[id*=rdlStatus][value=" + value.active_status + "]").iCheck('check');
            }
            else {
                ko.mapping.fromJS(value, {}, viewModel);
                $("input[id*=rdlStatus][value=" + value.active_status + "]").iCheck('check');
            }

            if (objModel.lstData != undefined && objModel.lstData != null) {
                $('#gvwData').DataTable().clear().draw();
                $('#gvwData').dataTable().fnAddData(objModel.lstData);
                $('#gvwData').dataTable().fnDraw();

                setTimeout(function () {
                    $('#gvwData').DataTable().columns.adjust().draw();
                    $('#gvwData').DataTable().columns.adjust().responsive.recalc();
                }, 500);
            }
            else {
                $('#gvwData').DataTable().clear().draw();
                $('#gvwData').dataTable().fnDraw();
                $('div[id$=divTable]').collapse("hide");
            }

        }

    </script>
}
<!-- /.content -->
