@{
    ViewBag.Title = "ConsentForm_MainForm";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}

<section class="content-header">
    <h1>
        Consent Form - @Model.UserName
    </h1>
</section>

<div class="collapse in">
    <div class="content no-pad-top">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-12" style="margin-top:10px;">
                    <div class="box box-success p-10" style="padding: 15px;">
                        <div class="box-header text-center">
                            <h1 class="box-title" style="font-weight:bolder">
                                @Model.Name
                            </h1>
                        </div>

                        @foreach (var item in Model.lstData_display)
                        {
                            <br>
                            <p style="font-weight: bold; margin-bottom: 0px; font-size: medium; color: #00338D">
                                <i class="fa fa-fw fa-chevron-circle-right" style="font-size:large; color:#c6007E"></i>
                                @item.Topic
                            </p>

                            foreach (var obj in item.lstSub)
                            {
                                @Html.Raw(obj.Content)<br>
                            }
                            <hr class="new1">
                        }

                    </div>

                    <div class="box box-warning p-10" style="padding:15px;">
                        <div class="row JustifyCenter" style="padding: 15px;">
                            <div class="row">
                                <div class="col-sm-4" style="font-weight:bold;margin-bottom: 0px ; color:#00338D;">
                                    <p><i class="fa fa-fw fa-user" style="font-size:large; margin-right:10px"></i>Name:</p>
                                </div>
                                <div class="col-sm-8">
                                    <p style="font-weight: bold; margin-bottom: 0px; color: #6D2077">@Model.UserName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="font-weight:bold;margin-bottom: 0px ; color:#00338D;">
                                    <p><i class="fa fa-fw fa-laptop" style="font-size: large; margin-right: 10px"></i>Employee number:</p>
                                </div>
                                <div class="col-sm-8">
                                    <p style="font-weight:bold;margin-bottom: 0px;color: #6D2077 ">@Model.EmployeeNo</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="font-weight:bold;margin-bottom: 0px ; color:#00338D;">
                                    <p><i class="fa fa-fw fa-calendar-check-o" style="font-size: large; margin-right: 10px"></i>Consent date:</p>
                                </div>
                                <div class="col-sm-8">
                                    <p style="font-weight:bold;margin-bottom: 0px; color: #6D2077">@Model.Consent_date</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-group-sm col-xs-12  text-center">
                            <button type="button" class="btn btn-success" style="width:150px" onclick="Save();">Save</button>
                            <button type="button" class="btn btn-danger" style="width:150px" onclick="Cancel();">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="AllYes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  widthPOP">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #337ab7;">
                <button type="button" class="close" onclick="Cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title"><b style="color: white;">Saving Confirmation</b></span>
            </div>
            <div class="modal-body">
                <div id="divCreatePopUp">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <label class="control-label" id="lblAccept"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-12 text-center">All Accept</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnOK" type="button" onclick="SubmitYesAll()" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" onclick="Cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="HaveNo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  widthPOP">
        <form id="consent_form" action="" method="post">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Saving Confirmation</b></span>
                </div>
                <div class="modal-body">
                    <div id="divCreatePopUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div>
                                        <p class="col-md-12 text-center" style="font-weight: bolder;color: #470A68;margin-bottom: 5px;font-size: medium;">
                                            Please provide the reason for not providing the consent. (required)
                                        </p>
                                    </div>
                                    <div id="display_content" style="padding-left:10px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="submit" onclick="SubmitYesAll(); return false;" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="WarningValidate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  widthPOP">
        <form id="consent_form" action="" method="post">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" onclick="CloseModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Warning</b></span>
                </div>
                <div class="modal-body">
                    <div id="divCreatePopUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div>
                                        <p class="col-md-12 text-center" style="font-weight: bolder;color: #470A68;margin-bottom: 5px;font-size: medium;">
                                            Please provide the reason for not consent !
                                        </p>
                                    </div>
                                    <div id="text_validate" style="padding-left:10px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/plugins/moment/moment.js"></script>
    <script src="~/Scripts/SystemFunc/sysUploadFileActionPlan.js"></script>

    <script type="text/javascript">
        var objModel = @Html.Raw(Json.Encode(Model));
        var sUrlBack = '@Url.Action("ConsentForm", "Consent")';
        @*var checkedValue = document.querySelector('.messageCheckbox:checked').value;*@
        var checkedValue = $('.messageCheckbox:checked').val();

        var checkboxAnsYes = {
            "flexCheck": []
        };
        var checkboxAnsNo = {
            "flexCheck": []
        };

        checkboxAnsNoContent = {
            "Id": [],
            "Content": []
        };

        checkboxAnsYesContent = {
            "Id": [],
            "Content": []
        };
        checkboxAnsNoContent2 = {
        };
        checkboxAnsNoContent3 = {
        };
        checkboxAnsYesContent2 = {
        };

        function Cancel() {
            window.location.href = sUrlBack;
            @*location.reload();*@
        }
        function CloseModal() {
            $("#WarningValidate").modal().hide();
        }

        function Save() {
            var sbox = Array.from(document.getElementsByName("flexCheck"));

            checkboxAnsYes.flexCheck = [];
            checkboxAnsNoContent.flexCheck = [];

                sbox.forEach(function (v) {
                    if (v.checked) {
                        checkboxAnsYes.flexCheck.push(v.id);
                    } else {
                        checkboxAnsNo.flexCheck.push(v.id);
                    }
                });

            if (checkboxAnsNo.flexCheck.length == 0) {
                ModalYesAll();

            }
            else {
                HaveNo();
            }
        }

        function ModalYesAll() {
            var IsPass = true;
            if (IsPass) {
                $("#AllYes").modal();

                checkboxAnsNoContent2 = objModel.objGet.lstAnswer;

                for (var i = 0; i < checkboxAnsYes.flexCheck.length; i++) {

                    var val = document.getElementById(checkboxAnsYes.flexCheck[i]).value;
                    var id = document.getElementById(checkboxAnsYes.flexCheck[i]).id;

                    var objAdd = {
                        Id: id,
                        Answer: "-"
                    };
                    checkboxAnsNoContent2.push(objAdd);
                };
            }
        }

        function HaveNo() {
            var IsPass = true;
            if (IsPass) {
                $("#HaveNo").modal();

                checkboxAnsNoContent2 = objModel.objGet.lstAnswer;

                for (var i = 0; i < checkboxAnsYes.flexCheck.length; i++) {

                    var val = document.getElementById(checkboxAnsYes.flexCheck[i]).value;
                    var id = document.getElementById(checkboxAnsYes.flexCheck[i]).id;

                    var objAdd = {
                        Id: id,
                        Answer: "-"
                    };
                    checkboxAnsNoContent2.push(objAdd);
                };

                for (var i = 0; i < checkboxAnsNo.flexCheck.length; i++) {

                    var val = document.getElementById(checkboxAnsNo.flexCheck[i]).value;
                    var id = document.getElementById(checkboxAnsNo.flexCheck[i]).id;

                    var objAdd = {
                        Id: id,
                        Answer: val
                    };
                    checkboxAnsNoContent2.push(objAdd);
                };

                    for (var i = 0; i < checkboxAnsNoContent2.length; i++) {
                        var x = checkboxAnsNoContent2[i].Id;
                        var y = checkboxAnsNoContent2[i].Answer;

                        if (y != "-")
                        {
                            var element = document.createElement("p");
                            element.innerHTML = y;
                            element.id = x;
                            var elementtxt = document.createElement("textarea");
                            elementtxt.id = "txt_" + x;
                            elementtxt.required = true;
                            elementtxt.rows = "2"
                            elementtxt.cols = "70"
                            elementtxt.placeholder = "Provide the reason for not consent";
                            $("#display_content").append(element);
                            $("#display_content").append(elementtxt);
                        }
                    }

            }
        }
        function GetData() {
            var lstData = objModel;
            lstData.objGet.lstAnswer =[];
            checkboxAnsNoContent3 = lstData.objGet.lstAnswer;
            checkboxAnsNoContent2.forEach((value) => {
                var objAdd = {
                    Id: value.Id,
                    Answer: value.Answer,
                    Description: GetTextareaByID('txt_' + value.Id).val()
                };
                checkboxAnsNoContent3.push(objAdd);
            });
            lstData.objGet.lstAnswer = checkboxAnsNoContent3;
            @*lstData.lstData_display.objGetYes = checkboxAnsYesContent;*@

            return lstData;
        }
        function SubmitYesAll() {
            var IsPass = true;
            if (IsPass) {
                @*$("#consent_form").validate();*@
                BlockUI();
                var check = 0;
                var mmessage = '';
                $("#consent_form textarea").each(function (index, value) {
                    var gindex = index;
                    var gvalue = value;
                    var gthis = $(this);
                    if (value.value == '') {
                        check += 1;
                        @*DialogWarning(DialogHeader.Warning, "<h4 class='text-danger text-center'>Please provide the reason for not consent !</h4> <br> <hr>" + $("#" + $(this)[0].id.replace('txt_', '')).val());*@
                        @*alert( $("#" + $(this)[0].id.replace('txt_', '')).val());*@

                        alert("Please provide the reason for not consent =>"+ $("#" + $(this)[0].id.replace('txt_', '')).val());

                        //$("#WarningValidate").modal();
                        //$("p#" + value.id.replace('txt_', '')).append(' !')
                        //mmessage = $("#" + value.id.replace('txt_', ''))[0].id;
                        //document.getElementById("text_validate").innerHTML = mmessage;


                        UnblockUI();
                        return false;

                    }
                });

                if (check == 0) {
                    var Param = GetData();
                    $.ajax({
                        dataType: AjaxCall.dataType,
                        type: AjaxCall.type,
                        contentType: AjaxCall.contentType,
                        url: '@Url.Action("ConsentFrom_Save", "Consent")',
                        data: JSON.stringify({ ItemData: Param }),
                        success: function (respone) {

                            if (respone.result.Status == SysProcess.SessionExpired) {
                                PopupLogin('@Url.Action("Index", "Home")');
                            } else if (respone.result.Status == SysProcess.Success) {
                                DialogSuccessOk(DialogHeader.Info, DialogMsg.SaveComplete, 'func', function () {


                                        window.location.href = '@Url.Action("ConsentForm", "Consent")';

                                });
                            }
                          
                            else {
                                DialogWarning(DialogHeader.Warning, respone.result.Msg);
                            }
                        },
                        error: AjaxCall.error,
                        complete: function (jqXHR, status) {//finaly
                            $("#AllYes").modal('hide');
                            $("#HaveNo").modal('hide');
                            UnblockUI();
                        }
                    });
                }
                else {

                    //alert("Please provide the reason for not consent !");
                    @*$("#WarningValidate").modal();*@
                    @*document.getElementById("text_validate").innerHTML = mmessage;*@
                    //$("p#" + mmessage).append(' !')
                    @*mmessage = $("#" + $(this)[0].id.replace('txt_', '')).val();*@

                    UnblockUI();
                    return false;
                }
                UnblockUI();
            }
        }
    </script>
}
<style>
    hr.new1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #1 {
        color: #F68D2E;
    }

    #2 {
        color: #43B02A;
    }

    #3 {
        color: #c6007E;
    }
</style>