@model HumanCapitalManagement.ViewModel.MainVM.vAcKnowledge_obj_save
@{
    ViewBag.Title = "HCM | HR Acknowledgement Pre-Intern Assessment";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}

<section class="content-header">
    @if (Model.TIF_type == "N")
    {
    <h1>
        HR Acknowledgement Pre-Intern Assessment Form (Non-Audit)
    </h1>
    }
    else
    {
    <h1>
        HR Acknowledgement Pre-Intern Assessment Form (Audit)
    </h1>
    }
</section>
<!-- Main content -->
<section class="content">
    <form class="form-horizontal">
        <div id="divContent">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- general form elements -->
                            <div class="box box-solid box-ctmPR">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Personnel Request Form Detail</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                <div class="col-md-8">

                                                    <input type="text" class="form-control" data-bind='value: group_id' disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">SubGroup</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: sub_group_id' disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Position</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: position_id' disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Activities</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: activities_Id' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Candidate Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: candidate_name' disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: rank_id' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-solid box-ctmPR4">
                        <div class="box-header with-border">
                            <h3 class="box-title">Technical Interview Form</h3>
                            <div class="box-tools pull-right">
                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        @if (!string.IsNullOrEmpty(Model.TIF_type) )
                        {
                           

                                <div class="box-body ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="callout callout-warning ">
                                                <div>
                                                    <h4>
                                                        <u>Rating Criteria</u>
                                                    </h4>
                                                </div>
                                                <p>
                                                    <div id="ratename1">
                                                        <strong> </strong> : <em> </em><br />
                                                    </div>
                                                    <div id="ratename2">
                                                        <strong> </strong> : <em> </em><br />
                                                    </div>
                                                    <div id="ratename3">
                                                        <strong> </strong> : <em> </em><br />
                                                    </div>
                                                    <div id="ratename4">
                                                        <strong> </strong> : <em> </em><br />
                                                    </div>
                                                    <div id="ratename5">
                                                        <strong> </strong> : <em> </em><br />
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover display" id="gvwData" width="100%">
                                                    <thead>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                @*<label class="col-md-2 control-label  text-right require ">Result</label>*@
                                                <div class="col-md-8 col-md-offset-2" style=" border:2px solid #f36b11; padding-top: 5px;padding-bottom: 5px;">
                                                    <input type="checkbox" id="chkStatus" name="chkStatus" class="flat-green" value="Y" />We (interviewers) recognize and  acknowledge that the confidential information from candidate's previous/current employer will not be disclosed to us during the interview session. We have informed the candidate regarding this matter accordingly.

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-2 control-label  text-right nomallabel ">Additional Comments</label>
                                                <div class="col-md-10">
                                                    <textarea rows="3" id="txtcomment" cols="50" class="form-control" data-bind='value: comment' disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right require">Recommended Rank</label>
                                                <div class="col-md-8">
                                                    <select id="ddlRank" name="ddlRank" class="form-control" data-bind="options: lstrank, optionsText: 'name', optionsValue: 'id',
                                                   value: recommended_rank_id,
                                                   valueAllowUnset: true" disabled></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label  text-right require ">Evaluation Result</label>
                                                <div class="col-md-8">
                                                    @{ Html.RenderAction("CreateddlPIAStatus", "HCMMasterData", new
                                                        {
                                                            id = "ddlPIAStatus",
                                                            databind = "PIA_status_id",
                                                            disable = true,
                                                        });}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label  text-right require ">Approval</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="text" id="txtSearch" name="txtSearch" class="form-control" />
                                                        <div class="input-group-btn">
                                                            <button id="add-new-event" onclick="SaveApprover()" type="button" class="btn btn-primary btn-flat btn-sm" style="background-color: rgb(57, 204, 204); border-color: rgb(57, 204, 204);">Add</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Approval Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" id="txtName" name="txtName" class="form-control" data-bind='value: user_name' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                <div class="col-md-8">
                                                    <input type="text" id="txtgroup" name="txtgroup" class="form-control" data-bind='value: unit_name' disabled />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                <div class="col-md-8">
                                                    <input type="text" id="txtposition" name="txtposition" class="form-control" data-bind='value: user_rank' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-lg-offset-2">
                                            <div class="box box-solid box-ctmPR4">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Pre-Intern Confirmation Process</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <!-- form start -->
                                                <div class="box-body  no-padding no-pad-bot no-pad-top">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-bordered table-hover display" id="gvwDataApprove" width="100%">
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- /.box-body -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer text-center">
                                    <button type="button" class="btn btn-primary" onclick="Save('Y');">Acknowledged</button>
                                    <button type="button" class="btn btn-danger" onclick="RollbackData();">Revise</button>
                                    @*<button type="button" class="btn btn-danger" onclick="ResetPInternFormData();">Change to different TIF in the same type</button>*@
                                    <button type="button" class="btn btn-warning" onclick="Cancel();">Back</button>
                                </div>
                            
                            

                        }
                        else
                        {
                            <div class="box-body ">
                                <div class="error-page">
                                    <h2 class="headline text-red"><i class="fa fa-warning"></i></h2>
                                    <div class="error-content">
                                        <h3><i class="fa fa-warning text-red"></i> Missing! Type of TIF form</h3>
                                        <p>
                                            Pleace contact, @Model.null_tif_contact.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-center">
                                <button type="button" class="btn btn-warning" onclick="Cancel();">Back</button>
                            </div>
                        }

                        <!-- /.box-body -->

                    </div>
                </div>
            </div>
        </div>
    </form>
    @*<%--[modal] before Add--%>*@
    <div id="PopupSave" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog  widthPOP">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Saving Confirmation</b></span>
                </div>
                <div class="modal-body">
                    <div id="divCreatePopUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12 text-center">
                                        Do you want to confirm the status "HR Acknowledgement"?
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" onclick="SaveData()" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PopupRollback" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog  widthPOP">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ff6a00;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Returning Pre-Intern to All Evaluators</b></span>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12 text-center">Do you want “Interviewers” to revise Pre-Intern?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm" style="margin-top:5px;">
                                <label class="col-md-4 control-label text-right nomallabel">Reasonk</label>
                                <div class="col-md-8">
                                    <textarea rows="3" id="txtDesrevise" cols="50" class="form-control" data-bind="value: rejeck , valueUpdate: 'afterkeydown'"></textarea>
                                    <span style="color:red;">*This process: First Evaluator > Second Evaluator > HR Acknowledgement again.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" onclick="Rollback()" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PopupRollbackReset" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog  widthPOP">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ff6a00;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Returning Pre-Intern to All Evaluators</b></span>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12 text-center">Do you want “Interviewers” to revise and reset Pre-Intern?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm" style="margin-top:5px;">
                                <label class="col-md-4 control-label text-right nomallabel">Reasonk</label>
                                <div class="col-md-8">
                                    <textarea rows="3" id="txtDesrevise" cols="50" class="form-control" data-bind="value: rejeck , valueUpdate: 'afterkeydown'"></textarea>
                                    <span style="color:red;">*This process: First Evaluator > Second Evaluator > HR Acknowledgement again.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" onclick="Reset()" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section style{

    <style>
        div:not(.dataTables_scrollFoot)::-webkit-scrollbar {
            display: none;
        }

        .dt-HeadGr-ctm {
            background-color: #2952a3 !important;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-total-ctm {
            background-color: #36c61a !important;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-totalAll-ctm {
            background-color: rgb(255, 222, 35) !important;
            color: rgb(0, 0, 0) !important;
            vertical-align: middle !important;
        }

        table.dataTable {
            border-collapse: collapse;
            width: 100%;
        }
    </style>

}

@section scripts{
    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>
    <script src="~/Scripts/plugins/DataTables2/dataTables.rowGroup.min.js"></script>
    @*Script for bind Data KnockOut*@

    <script type="text/javascript">
        var url = document.URL;
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);

            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        var objModel = @Html.Raw(Json.Encode(Model));
        var Is_disable = "Y";
       var sUrlBack = '@Url.Action("AcKnowledgePreInternList", "PreIntern")';
       $(function () {
        @if (Request.QueryString["bUrl"] != null)
           {
       <text>
           sUrlBack += "?qryStr=" + '@Uri.EscapeDataString(Request.QueryString["bUrl"])';
       </text>
       }

        });

    </script>

    <script type="text/javascript">
        var objMaxLength = [
            { ctrlID: "txtcomment", ctrlType: "area", MaxLength: 1000 }];
        var save_Status = "";

    </script>
    @*Script for bind Data KnockOut*@
    <script type="text/javascript">
        var viewModel = {

        };
        function ViewModel() {
            var self = this;            self.conditionChecked = ko.observable(false);
            self.loadCondition = function () {
                //ajax request to get condition value. Suppose ajax request returned value "used". so
                self.conditionChecked("used");
            }
            self.loadCondition();
            
            ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh
                init: function (element, valueAccessor) {
                    var ctrl = $(element);
                    var sID = ctrl[0].id;
                    //initialize icheck to the element
                    $(element).iCheck({
                        radioClass: 'iradio_flat-green'
                    });
                    $(element).on('ifChecked', function (event) {

                        var observable = valueAccessor();
                        observable.checked(event.target.defaultValue); //assigning selected value
                    });
                },
                update: function (element, valueAccessor) {
                    var observable = valueAccessor();
                }
            };

        }
       
        function BindData(value) {
            if (viewModel.Id == undefined) {
                viewModel = ko.mapping.fromJS(value);
                ViewModel();
                
                $("input[id*=chkStatus][value='" + value.confidentiality_agreement + "']").iCheck('check');
                if (value.TIF_type + "" == "N" || value.TIF_type + "" == "M") {
                   
                        if (objModel.objtifform != undefined && objModel.objtifform != null && objModel.objtifform.lstQuestion != undefined && objModel.objtifform.lstQuestion != null && objModel.objtifform.lstQuestion.length > 0) {
                            $('#gvwData').DataTable().clear().draw();
                            $('#gvwData').dataTable().fnAddData(objModel.objtifform.lstQuestion);
                            $('#gvwData').dataTable().fnDraw();
                            setTimeout(function () {
                                $('#gvwData').DataTable().columns.adjust().draw();
                                $('#gvwData').DataTable().columns.adjust().responsive.recalc();
                            }, 500);
                        }
                        else {
                            $('#gvwData').DataTable().clear().draw();
                            $('#gvwData').dataTable().fnDraw();
                            $('div[id$=divTable]').collapse("hide");
                        }
                    
                  


                    if (objModel.lstApprove != undefined && objModel.lstApprove != null && objModel.lstApprove.length > 0) {
                        $('#gvwDataApprove').DataTable().clear().draw();
                        $('#gvwDataApprove').dataTable().fnAddData(objModel.lstApprove);
                        $('#gvwDataApprove').dataTable().fnDraw();

                        setTimeout(function () {
                            $('#gvwDataApprove').DataTable().columns.adjust().draw();
                            $('#gvwDataApprove').DataTable().columns.adjust().responsive.recalc();
                        }, 500);
                    }
                    else {
                        $('#gvwDataApprove').DataTable().clear().draw();
                        $('#gvwDataApprove').dataTable().fnDraw();

                    }
                    
                }
            }
            else {
                $("input[id*=chkStatus][value='" + value.confidentiality_agreement + "']").iCheck('check');
                ko.mapping.fromJS(value, {}, viewModel);
            }

        }
        function Cancel() {
            window.location.href = sUrlBack;
        }


    </script>
    <script type="text/javascript">
        function SetTableApprove() {
            var objHeadClRequest = [
                { "title": "", "width": "10%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "Edit" },
                { "title": "Evaluator", "width": "10%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "nStep" },
                { "title": "Evaluator’s Name", "width": "35%", "className": "dt-left-ctm", "data": "app_name", "searchable": false, "orderable": false },
                { "title": "Confirmed Date", "width": "25%", "className": "dt-center-ctm", "data": "approve_date", "searchable": false, "orderable": false },
                { "title": "Status", "width": "20%", "className": "dt-center-ctm", "data": "app_code", "searchable": false, "orderable": false },
            ];

            var objTableRe = {
                sTableID: "gvwDataApprove",
                nDis: [],
                sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset
                nHeadFix: 0,// fix clr
                EmptyTable: EmptyTable,
                order: [[1, "asc"]],
                objBeforeClRender: false,
                lengthMN: [[-1], ["All"]],
                columnDefs: [{
                    "targets": 2,
                    "render": function (data, type, row) {

                        return data;
                    }
                }
                ],
                fixedHeader: {
                    header: false,
                    footer: false
                }
                ,
                rowGroup: {
                    enable: false
                }
            };

            var table = CreatTableJS(objTableRe);

        }
        function CreateTextAreaInt(sID, sMaxlength, sValue, sDisable, sRow) {
            $("input[id$=" + sID + "]").unbind();
            var sDis = "";
            if (sDisable != undefined && sDisable == "Y") {
                sDis = "disabled";
            }
            if (sRow == undefined || sRow == null) {
                sRow = 3;
            }

            var sSetValue = sValue != undefined && sValue != "" ? "value='" + sValue + "'" : "";
            var sMaxlength = sMaxlength != undefined && sMaxlength != "" ? "maxlength='" + sMaxlength + "'" : "";
            var sHtml = "<textarea rows='" + sRow + "' cols='50'  id='" + sID + "' name='" + sID + "' class='form-control' " + sMaxlength + " " + sSetValue + " style='width:100%;' " + sDis + "  >" + sValue + "</textarea>";

            return sHtml;
        }
    </script>
}

@if (!string.IsNullOrEmpty(Model.TIF_type) && (Model.TIF_type == "M" || Model.TIF_type == "N"))
{
    if (Model.TIF_type == "N"|| Model.TIF_type == "M")
    {
        @section scripts2{

            <script type="text/javascript">
        var objMaxLength = [
            { ctrlID: "txtcomment", ctrlType: "area", MaxLength: 1000 }];
        $(function () {
            SetTableCandidate();
            SetTableApprove();
            getRate();
            ValidateForm();
            
            if (GetInputByID("txtSearch") != undefined) {
                SetAutocom("txtSearch");
            }
            SetMaxLeangthJS(objMaxLength);

            ValidateForm();
            if (GetInputByID("txtSearch") != undefined) {
                SetAutocom("txtSearch");
            }


            BindData(objModel);
            ko.applyBindings(viewModel);

            SetMaxLeangthJS(objMaxLength);
        });



        function Del(sVal) {
                    DialogConfirm(DialogHeader.Confirm, DialogMsg.ConfirmDel, function () {   
                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url:'@Url.Action("DelPreInternApprover", "PreIntern")',
                    data: JSON.stringify({ ItemData: sVal }),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                            PopupLogin('@Url.Action("Index", "Home")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccess(DialogHeader.Info, DialogMsg.SaveComplete);
                            ClearUser();
                            if (respone.result.lstData != undefined && respone.result.lstData != null && respone.result.lstData.length > 0) {
                                $('#gvwDataApprove').DataTable().clear().draw();
                                $('#gvwDataApprove').dataTable().fnAddData(respone.result.lstData);
                                $('#gvwDataApprove').dataTable().fnDraw();
                            }
                            else {
                                $('#gvwDataApprove').DataTable().clear().draw();
                                $('#gvwDataApprove').dataTable().fnDraw();
                            }
                        }
                        else if (respone.result.Status == SysProcess.Failed) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                        $('#gvwDataApprove').DataTable().columns.adjust().draw();
                        $('#gvwDataApprove').DataTable().columns.adjust().responsive.recalc();
                    }
                }); }, function () { });
          }
            </script>
            <script type="text/javascript">
                 function Save(sVal) {
            $("#PopupSave").modal();
        }
         function SaveData() {
            var IsPass = true;
             if (IsPass ) {

                BlockUI();
                var Param = ko.toJS(viewModel);
                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url: '@Url.Action("AcKnowledgePreIntern", "PreIntern")',
                    data: JSON.stringify({ ItemData: Param}),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                             PopupLogin('@Url.Action("Index", "Home")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccessOk(DialogHeader.Info, DialogMsg.SaveComplete, 'func', function () {

                                var prodId = getParameterByName('bUrl');
                                if (prodId != "") {
                                    window.location.href = sUrlBack;
                                }
                                else {
                                    window.location.href = sUrlBack + '?qryStr=%7B%0D%0A%20%20"active_status"%3A%20"Y"%0D%0A%7D';
                                }
                            });
                        }
                        else if (respone.result.Status == SysProcess.Duplicate) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                        $("#PopupSave").modal('hide');
                    }
                });
            }
        }
        function SetTableCandidate() {
            var objHeadClRequest = [
                { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "nSeq", "visible": false },
                { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "id", "visible": false },
                { "title": "Features used in evaluation", "width": "27%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "question", },
                { "title": "Rating", "width": "18%", "className": "dt-left-ctm", "data": "rating", "searchable": false, "orderable": false },
                { "title": "Reason supporting the given rate", "width": "55%", "className": "dt-left-ctm", "data": "remark", "searchable": false, "orderable": false },
            ];

            var objTableRe = {
                sTableID: "gvwData",
                nDis: [],
                sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset
                nHeadFix: 0,// fix clr
                EmptyTable: EmptyTable,
                order: [[0, "asc"]],
                objBeforeClRender: false,
                lengthMN: [[-1], ["All"]],
                columnDefs: [{
                    "targets": 2,
                    "render": function (data, type, row) {
                        var sHtml = "<b>" + row.topic + "</b>" + "<br/>" + (row.question + "").replace("(", "<br/>(")
                        //return ( data+ "").replace("(", "<br/>(");
                        return sHtml;
                    }
                },
                {
                    "targets": 3,
                    "render": function (data, type, row) {
                        var sHtml = "";
                        if (objModel.objtifform.lstRating != undefined && objModel.objtifform.lstRating != null && objModel.objtifform.lstRating.length > 0) {

                            sHtml = CreatSelect("ddlRating" + row.id, JSON.stringify(objModel.objtifform.lstRating), data, "Y");
                        }
                        return sHtml;
                    },
                },
                {
                    "targets": 4,
                    "render": function (data, type, row) {
                        return CreateTextAreaInt("txtRemark" + row.id, 1000, data,"Y",10);
                    }
                }
                ],
                fixedHeader: {
                    header: false,
                    footer: false
                },
                rowGroup: {
                    'startRender': function (rows, header) {
                        return $('<tr/>')
                            .append('<td class="dt-HeadGr-ctm dt-left-ctm" style="height: 25px;font-size: 14px;" colspan="5">' + header + '</td>');
                    },
                    'endRender': null,
                    'dataSrc': 'header'
                },

            };

            var table = CreatTableJS(objTableRe);

        }
                
        //function for validate form
        function ValidateForm() {
            var objValidatePopUp = {};
            objValidatePopUp[GetElementName("txtSearch", objControl.txtbox)] = addValidate_notEmpty("This value is not valid");

            BindValidateBootstrap("divContent", objValidatePopUp);
        }
                function getRate() {
            objModel.objtifform.lstRating.forEach((item) => {

                if (item.nSeq == "1") {
                    $("div[id$=ratename1]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.nSeq == "2") {
                    $("div[id$=ratename2]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.nSeq == "3") {
                    $("div[id$=ratename3]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.nSeq == "4") {
                    $("div[id$=ratename4]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.nSeq == "5") {
                    $("div[id$=ratename5]").html("<strong>" + (item.text) + "" + "</strong>:  <em>" + (item.detail) + "</em><br />");
                    //$("div[id$=ratename5]").css("style=display:block;");
                    document.getElementById("ratename5").style.visibility = "visible";
                }
            })
        }
         function SetAutocom(txtTarget) {
                        $("input[id$=" + txtTarget + "]").on("keyup", function () {
                            var newList = ko.toJS(viewModel);
                            if (newList.Id != undefined) {
                                newList.user_name = '';
                                newList.unit_name = '';
                                newList.user_id = '';
                                newList.user_rank = '';
                                BindData(newList);
                            }
                        });
                        $("input[id$=" + txtTarget + "]").autocomplete({
                            //disabled: true,
                            source: function (request, response) {
                                $.ajax({
                                    global: false,  // <-- this is the key!
                                    dataType: AjaxCall.dataType,
                                    type: AjaxCall.type,
                                    contentType: AjaxCall.contentType,
                                    url: '@Url.Action("UserAutoCompleteAll", "HCMMasterData")',
                        data: JSON.stringify({ SearchItem: request.term }),
                        success: function (data) {
                            UnblockUI();
                            response($.map(data, function (item) {
                                return {
                                    value: item.id,
                                    label: item.id + " : " + item.user_name ,
                                    user_id: item.user_id,
                                    user_no: item.id,
                                    user_name: item.user_name,
                                    unit_name: item.unit_name,
                                    user_rank: item.user_rank,
                                }
                            }));
                        }
                    });
                },
                        minLength: 1,
                        select: function (event, ui) {
                        var newList = ko.toJS(viewModel);
                        if (newList.Id != undefined) {
                            newList.user_name = ui.item.user_name;
                            newList.unit_name = ui.item.unit_name;
                            newList.user_id = ui.item.user_id;
                            newList.user_no = ui.item.user_no;
                            newList.user_rank = ui.item.user_rank;
                            BindData(newList);
                        }
                        }

                        });
        }

        function ClearUser() {
            var newList = ko.toJS(viewModel);
            if (newList.Id != undefined) {
                newList.user_name = '';
                newList.unit_name = '';
                newList.user_id = '';
                newList.user_rank = '';
                BindData(newList);
            }
            GetInputByID("txtSearch").val('');
            $('#divContent').bootstrapValidator('updateStatus', GetElementName("txtSearch", objControl.txtbox), "NOT_VALIDATED");
        }
                function SaveApprover() {
                
            var Param = ko.toJS(viewModel);
            var IsPass = true;
            var User = GetInputByID("txtID").val();
            if (!CheckValidateBootstrap("divContent") || Param.user_no + ""  == "") {
                IsPass = false;
                if (Param.user_no + "" == "") {
                    $('#divContent').bootstrapValidator('updateStatus', GetElementName("txtSearch", objControl.txtbox), "INVALID");
                }
            }
            if (IsPass) {
                BlockUI();

                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url:'@Url.Action("AddApprover", "PreIntern")',
                    data: JSON.stringify({ ItemData : Param }),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                            PopupLogin('@Url.Action("Index", "Home")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccess(DialogHeader.Info, DialogMsg.SaveComplete);

                            ClearUser();
                            if (respone.result.lstData != undefined && respone.result.lstData != null && respone.result.lstData.length > 0) {
                                $('#gvwDataApprove').DataTable().clear().draw();
                                $('#gvwDataApprove').dataTable().fnAddData(respone.result.lstData);
                                $('#gvwDataApprove').dataTable().fnDraw();
                            }
                            else {
                                $('#gvwDataApprove').DataTable().clear().draw();
                                $('#gvwDataApprove').dataTable().fnDraw();
                            }
                        }
                        else if (respone.result.Status == SysProcess.Failed) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                        $('#gvwDataApprove').DataTable().columns.adjust().draw();
                        $('#gvwDataApprove').DataTable().columns.adjust().responsive.recalc();
                    }
                });
            }
        }

        function RollbackData() {
            $("#PopupRollback").modal();
        }
         function Rollback() {
                var IsPass = true;
                if (IsPass) {

                    BlockUI();
                    var Param = ko.toJS(viewModel);
                    $.ajax({
                        dataType: AjaxCall.dataType,
                        type: AjaxCall.type,
                        contentType: AjaxCall.contentType,
                        url: '@Url.Action("HRRollBackPreInternForm", "PreIntern")',
                        data: JSON.stringify({ ItemData: Param }),
                        success: function (respone) {
                            if (respone.result.Status == SysProcess.SessionExpired) {
                                PopupLogin('@Url.Action("Index", "Home")');
                            } else if (respone.result.Status == SysProcess.Success) {
                                DialogSuccessOk(DialogHeader.Info, DialogMsg.SaveComplete, 'func', function () {
                                    var prodId = getParameterByName('bUrl');
                                    if (prodId != "") {
                                        window.location.href = sUrlBack;
                                    }
                                    else {
                                        window.location.href = sUrlBack + '?qryStr=%7B%0D%0A%20%20"active_status"%3A%20"Y"%0D%0A%7D';
                                    }
                                });
                            }
                            else if (respone.result.Status == SysProcess.Duplicate) {
                                DialogWarning(DialogHeader.Warning, respone.result.Msg);
                            }
                            else {
                                DialogWarning(DialogHeader.Warning, respone.result.Msg);
                            }
                        },
                        error: AjaxCall.error,
                        complete: function (jqXHR, status) {//finaly
                            UnblockUI();
                            $("#PopupRollback").modal('hide');
                        }
                    });
                }
                }
        function ResetPInternFormData() {
            $("#PopupRollbackReset").modal();
        }
        function Reset() {
                var IsPass = true;
                if (IsPass) {

                    BlockUI();
                    var Param = ko.toJS(viewModel);
                    $.ajax({
                        dataType: AjaxCall.dataType,
                        type: AjaxCall.type,
                        contentType: AjaxCall.contentType,
                        url: '@Url.Action("HRResetPreInternForm", "PreIntern")',
                        data: JSON.stringify({ ItemData: Param }),
                        success: function (respone) {
                            if (respone.result.Status == SysProcess.SessionExpired) {
                                PopupLogin('@Url.Action("Index", "Home")');
                            } else if (respone.result.Status == SysProcess.Success) {
                                DialogSuccessOk(DialogHeader.Info, DialogMsg.SaveComplete, 'func', function () {
                                    var prodId = getParameterByName('bUrl');
                                    if (prodId != "") {
                                        window.location.href = sUrlBack;
                                    }
                                    else {
                                        window.location.href = sUrlBack + '?qryStr=%7B%0D%0A%20%20"active_status"%3A%20"Y"%0D%0A%7D';
                                    }
                                });
                            }
                            else if (respone.result.Status == SysProcess.Duplicate) {
                                DialogWarning(DialogHeader.Warning, respone.result.Msg);
                            }
                            else {
                                DialogWarning(DialogHeader.Warning, respone.result.Msg);
                            }
                        },
                        error: AjaxCall.error,
                        complete: function (jqXHR, status) {//finaly
                            UnblockUI();
                            $("#PopupRollbackReset").modal('hide');
                        }
                    });
                }
            }
            </script>
        }
    }
  
}