<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png"
          href="~/ico_trainee.ico">
    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Font CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/fonts/fontello/css/fontello.css" rel="stylesheet" />
    <!-- Plugins -->
    <link href="~/Scripts/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Scripts/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="~/Scripts/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="~/Scripts/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="~/Content/css/animations.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Scripts/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/Scripts/plugins/hover/hover-min.css" rel="stylesheet">
    <link href="~/Scripts/plugins/morphext/morphext.css" rel="stylesheet">

    <link href="~/Scripts/plugins/bootstrap-datepicker-thai/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/typography-default.css" rel="stylesheet">
    <link href="~/Content/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    @*datatable net*@
    @*<link href="~/Scripts/plugins/DataTables2/datatables.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/plugins/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Content/cssload-triangle.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more infocomponents-page-loaders.html) -->
<body class="front-page" style="height:100%;">
    @*<body class=" page-loader-1">*@
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
        <!-- header-container start -->
        <div class="header-container">
            <!-- header-top start -->
            <!-- classes:  -->
            <!-- "dark": dark version of header top e.g. class="header-top dark" -->
            <!-- "colored": colored version of header top e.g. class="header-top colored" -->
            <!-- ================ -->
            <div class="header-top dark">
                <div class="container">
                    <div class="row">
                        <div class="col-2 col-md-5">

                        </div>
                        <div class="col-10 col-md-7">

                            <div id="header-top-second" class="clearfix text-right">
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <i class="fa fa-user-o pr-1 pl-10"></i>@ViewBag.UserName
                                        <span class="fa fa-lock text-danger" id="forcheckVerify"> @ViewBag.EMail</span>
                                        <span id="forIsVerify" style="display:none;">@ViewBag.IsVerify</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top end -->
            <!-- header start -->
            <!-- classes:  -->
            <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
            <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
            <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
            <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
            <!-- "centered": mandatory class for the centered logo layout -->
            <!-- ================ -->
            <header class="header fixed fixed-desktop clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-auto hidden-md-down pl-3">
                            <!-- header-first start -->
                            <!-- ================ -->
                            <div class="header-first clearfix">
                                <!-- logo -->
                                <div id="logo" class="logo">
                                    <a href="@Url.Action("Index", "Home", null)"><img id="logo_img" src="~/Imageprototype/ibS5aQ9.jpg" alt="KPMG" style="width:100px;"></a>
                                </div>
                                <!-- name-and-slogan -->
                                @*<div class="site-slogan">
                                        KPMG Thailand
                                    </div>*@
                            </div>
                            <!-- header-first end -->
                        </div>
                        <div class="col-lg-8 ml-lg-auto">

                            <!-- header-second start -->
                            <!-- ================ -->
                            <div class="header-second clearfix">

                                <!-- main-navigation start -->
                                <!-- classes: -->
                                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                                <!-- ================ -->
                                <div class="main-navigation main-navigation--mega-menu  animated">
                                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                                        <div class="navbar-brand clearfix hidden-lg-up">
                                            <!-- logo -->
                                            <div id="logo-mobile" class="logo">
                                                <a href="@Url.Action("Index", "Home", null)"><img id="logo-img-mobile" src="~/Imageprototype/ibS5aQ9.jpg" alt="KPMG"></a>
                                            </div>
                                            <!-- name-and-slogan -->
                                            <div class="site-slogan">
                                                KPMG Thailand
                                            </div>
                                        </div>

                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                            <!-- main-menu -->
                                            <ul class="navbar-nav ml-xl-auto">
                                                <!-- mega-menu start -->
                                                <li class="nav-item dropdown  mega-menu mega-menu--wide">
                                                    <a id="1" href="@Url.Action("Index", "Home", null)" class="nav-link" id="first-dropdown" aria-haspopup="true">Home</a>
                                                </li>
                                                <li class="nav-item dropdown ">
                                                    <a href="#" class="nav-link dropdown-toggle" id="sixth-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                                                    <ul class="dropdown-menu" aria-labelledby="sixth-dropdown">
                                                        <li><a id="2" href="@Url.Action("EvaluationList", "Evaluation", null)">Evaluation Form</a></li>
                                                        <li id="verify_li"><a id="5" href="#" onclick="VerlifyTE();return false;">Verify Intern Email &nbsp;<span class="fa fa-warning text-warning pull-right"></span></a></li>
                                                        <li><a id="timesheet" href="@Url.Action("TimeSheetView", "TimeSheet", null)">Timesheet</a></li>
                                                        <li><a id="perxtran" href="@Url.Action("PerdiemTransportView", "PerdiemTransport", null)">Perdiem/Transport</a></li>
                                                        <li><a id="3" href="#" onclick="ChangeP();return false;">Change Password</a></li>
                                                        <li><a id="3" href="#" onclick="TraineeProfile();return false;">Intern Profile</a></li>
                                                        <li><a id="6" href="@Url.Action("UserGuide", "UserGuide", null)">User Guide</a></li>
                                                        <li><a id="4" href="@Url.Action("Login", "Login", null)">Logout</a></li>

                                                    </ul>
                                                </li>
                                            </ul>
                                            <!-- main-menu end -->
                                        </div>
                                    </nav>
                                </div>
                                <!-- main-navigation end -->
                            </div>
                            <!-- header-second end -->
                        </div>

                    </div>
                </div>
            </header>
            <!-- header end -->
        </div>
        <!-- header-container end -->
        <!-- banner start -->
        <!-- ================ -->
        <!-- section start -->
        <!-- ================ -->
        @RenderBody()
        <!-- ================ -->
        <!-- section end -->
        <!-- footer top start -->
        <!-- ================ -->
        <!-- footer top end -->
        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        @*<footer id="footer" class="clearfix dark">
                <!-- .subfooter start -->
                <!-- ================ -->
                <div class="subfooter">
                    <div class="container">
                        <div class="subfooter-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">Copyright © 2018 KPMG Phoomchai Holdings Co., Ltd., a Thai limited liability company and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .subfooter end -->
            </footer>*@
        <!-- footer end -->

        <div id="PopupReject" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog  widthPOP">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #337ab7;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="modal-title"><b style="color: white;">Change Password</b></span>
                    </div>
                    <div class="modal-body">
                        <div id="divCreatePopUp">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-4 col-form-label nomallabel text-right">Old Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control input-sm" id="txtOldPass" name="txtOldPass" maxlength="200">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-4 col-form-label nomallabel text-right">New Password 1</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control input-sm" id="txtNew1" name="txtNew1" maxlength="200">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-4 col-form-label nomallabel text-right">New Password 2</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control input-sm" id="txtNew2" name="txtNew2" maxlength="200">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnOK" type="button" onclick="ChangePass()" class="btn btn-primary">Change</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="PopupVerify" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog  widthPOP">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #337ab7;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="modal-title"><b style="color: white;">Verify Intern Email</b></span>
                    </div>
                    <div class="modal-body">
                        <div id="divCreatePopUp">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-4 col-form-label nomallabel text-right">E-Mail</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control input-sm" id="txtEmailVerify" name="txtOldPass" maxlength="200" value="@ViewBag.EMail">
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right" style="padding: 0 0 15px 0;">
                                        <span class="fa fa-warning text-warning "></span>&nbsp; ต้องใช้ E-Mail ของ KPMG เท่านั้น
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm row">
                                        <label class="col-sm-4 col-form-label nomallabel text-right">Verify Code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" id="txtVerifyCode" name="txtNew1" maxlength="8" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnOK" type="button" onclick="VerifyTraineeEmail()" class="btn btn-info col-sm-6"><span class="fa fa-send"></span>&nbsp;&nbsp; Verify</button>
                        <button id="btnOK" type="button" onclick="SaveVerifyTraineeEmail()" class="btn btn-primary"><span class="fa fa-save"></span>&nbsp;&nbsp; Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp; Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="PopupProfile" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog  widthPOP">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #337ab7;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="modal-title"><b style="color: white;">Intern Profile</b></span>
                    </div>
                    <div class="modal-body">
                        <div id="divCreatePopUp">
                            <div class="col-md-12" style="border:2px solid #337ab7;padding:10px;border-radius:10px;">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>Name : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtFullName"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>Intern No. : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtTarineeNo"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>E-mail : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtEmail"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>ID Card : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtIDCrad"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>Internship Date : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtInternship"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <span>Bank Account No. : </span>
                                    </div>
                                    <div class="col-md-7">
                                        <span id="txtBankAccountNo"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp; Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-wrapper end -->
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/plugins/ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/plugins/popper.min.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="~/Scripts/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/Scripts/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="~/Scripts/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="~/Scripts/plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="~/Scripts/plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="~/Scripts/plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="~/Scripts/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/SystemFunc/jquery.blockUI.js"></script>
    <link href="~/Scripts/plugins/iCheck/all.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <link href="~/Scripts/plugins/bootstrap3-dialog-master/css/bootstrap-dialogV4.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/bootstrap3-dialog-master/js/bootstrap-dialogV4.js"></script>
    @*datatable net*@
    @*<script src="~/Scripts/plugins/DataTables2/datatables.min.js"></script>*@

    <script src="~/Scripts/plugins/DataTables/datatables.js"></script>
    <script src="~/Scripts/SystemFunc/MaxLength.min.js"></script>

    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/SystemFunc/jquery.blockUI.js"></script>
    <link href="~/Scripts/plugins/iCheck/all.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    @*<link href="~/Scripts/plugins/bootstrap3-dialog-master/css/bootstrap-dialog.css" rel="stylesheet" />*@
    <link href="~/Scripts/plugins/bootstrapValidate/dist/css/bootstrapValidatorV2.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/SystemFunc/sysFunction.js?n=1"></script>
    <script src="~/Scripts/SystemFunc/CommonScript.js"></script>
    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("scripts2", required: false)
    <script type="text/javascript">
        $(function () {
            $('select.selectContainer').parent().find('i.form-control-feedback').css("right", "25px");
            $('section[class=content-header]').on('keydown', function (e) {
                if (e.which == 13) { //e.which = keyCode (ENTER : 13)
                    if (typeof LoadData == 'function') {

                        try {
                            LoadData();
                        }
                        catch (err) {
                            // Handle error(s) here

                        }
                    }
                    //e.preventDefault();
                }

            });
            if ($("#txtEmailVerify").val() != "")
            {
                $("#txtVerifyCode").attr('readonly', false);
            }

            var valemail = $('#forcheckVerify').html();
            var valeisverify = $('#forIsVerify').html();
            if (valemail != null && valemail != "" && valeisverify == "Y") {
                $('#forcheckVerify').html("");
                $('#forcheckVerify').removeClass('fa-lock text-danger').addClass('fa-unlock text-success');

                $("ul.dropdown-menu li:contains('Verify Intern Email')").remove();
            }
            else
            {
                //$("ul.dropdown-menu li:contains('Evaluation Form')").remove();
                $("ul.dropdown-menu li:contains('Timesheet')").remove();
            }
        });
        $(document).ajaxStart(function () {
            BlockUI();
        });
        $(document).ajaxStop(function () {
            UnblockUI();
        });
        function SetActiveMenu(sMUID) {
            $('a[id="' + sMUID + '"]').parents("li").addClass("active");
        }
        function ChangeP() {
            beforeChange();
            $("#PopupReject").modal();
        }
        function VerlifyTE() {
            beforeChange();
            $("#PopupVerify").modal();
        }
        function TraineeProfile() {
            beforeChange();
            $("#PopupProfile").modal();

         $.ajax({
        dataType: AjaxCall.dataType,
        type: AjaxCall.type,
        contentType: AjaxCall.contentType,
        url: '@Url.Action("ViewTraineeProfile", "Login")',
        //data: JSON.stringify({ ItemData: Param}),
        success: function (respone) 
        {
             
        $('#txtFullName').text(respone.result.full_name);
        $('#txtTarineeNo').text(respone.result.trainee_no);
        $('#txtEmail').text(respone.result.email);
        $('#txtIDCrad').text(respone.result.id_crad);
        $('#txtInternship').text(respone.result.internship_date);
        $('#txtBankAccountNo').text(respone.result.bank_account_no);
        
       
        },
        error: AjaxCall.error,
        complete: function (jqXHR, status) {//finaly
        UnblockUI();
        beforeChange();
       }
        });}
        function beforeChange() {
            GetInputByID("txtOldPass").val('');
            GetInputByID("txtNew1").val('');
            GetInputByID("txtNew2").val('');
        }
        function ChangePass() {

            var IsPass = true;
            var sOld = GetValueTextBox("txtOldPass");
            var sNew1 = GetValueTextBox("txtNew1");
            var sNew2 = GetValueTextBox("txtNew2");
            if (sOld == "") {
                DialogWarning(DialogHeader.Warning, "Please input Old Password.");
                IsPass = false;
                return;
            }
            if (sNew1.length <= 8) {
                DialogWarning(DialogHeader.Warning, "Please input New Password 1 more than 8 word.");
                IsPass = false;
                return;
            }
            if (sNew2.length <= 8) {
                DialogWarning(DialogHeader.Warning, "Please input New Password 2 more than 8 word.");
                IsPass = false;
                return;
            }
            if (sNew1 != sNew2) {
                DialogWarning(DialogHeader.Warning, "New password don't match.");
                IsPass = false;
                return;
            }

            if (IsPass) {
                BlockUI();
                var Param = {
                    old_pass: sOld,
                    new_1: sNew1,
                    new_2: sNew2,
                };
                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url: '@Url.Action("ChangePass", "Login")',
                    data: JSON.stringify({ ItemData: Param}),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                             PopupLogin('@Url.Action("Login", "Login")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccess(DialogHeader.Info, DialogMsg.SaveComplete);
                        }
                        else if (respone.result.Status == SysProcess.Duplicate) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                        beforeChange();
                        $("#PopupReject").modal('hide');
                    }
                });
            }
        }
      function VerifyTraineeEmail() {

        var IsPass = true;
          var sEmail = GetValueTextBox("txtEmailVerify");
          var sVerifyCode = GetValueTextBox("txtVerifyCode");
          if (sEmail == "") {
        DialogWarning(DialogHeader.Warning, "Please input E-Mail.");
        IsPass = false;
        return;
        }
        //  if (sVerifyCode.length < 8) {
        //DialogWarning(DialogHeader.Warning, "Please input Verify Code more than 8 word.");
        //IsPass = false;
        //return;
        //}


        if (IsPass) {
        BlockUI();
        var Param = {
            email: sEmail,
            verify_code: sVerifyCode
        };
        $.ajax({
        dataType: AjaxCall.dataType,
        type: AjaxCall.type,
        contentType: AjaxCall.contentType,
        url: '@Url.Action("VerifyTraineeEmail", "Login")',
        data: JSON.stringify({ ItemData: Param}),
        success: function (respone) {
        if (respone.result.Status == SysProcess.SessionExpired) {
        PopupLogin('@Url.Action("Login", "Login")');
        } else if (respone.result.Status == SysProcess.Success) {
            DialogSuccess(DialogHeader.Info, respone.result.Msg);
            if (respone.result.Content == 'S') {
                $("#txtVerifyCode").val('');
                $("#txtVerifyCode").attr('readonly', false);
            }
            else
            {
                $("#txtVerifyCode").val('');
                $("#txtVerifyCode").attr('readonly', true);
            }
        }
        else if (respone.result.Status == SysProcess.Duplicate) {
        DialogWarning(DialogHeader.Warning, respone.result.Msg);
        }
        else {
        DialogWarning(DialogHeader.Warning, respone.result.Msg);
        }
        },
        error: AjaxCall.error,
        complete: function (jqXHR, status) {//finaly
        UnblockUI();
        beforeChange();
        //$("#PopupReject").modal('hide');
        }
        });
        }

      }





        function SaveVerifyTraineeEmail() {

        var IsPass = true;
        var sEmail = GetValueTextBox("txtEmailVerify");
        var sVerifyCode = GetValueTextBox("txtVerifyCode");
            if (sEmail == "") {
                DialogWarning(DialogHeader.Warning, "Please input E-Mail.");
                IsPass = false;
                return;
            }
            if (sVerifyCode.length < 8) {
                 DialogWarning(DialogHeader.Warning, "Please input Verify Code more than 8 word.");
                 IsPass = false;
                 return;
            }


                 if (IsPass) {
                 BlockUI();
                 var Param = {
                     email: sEmail,
                     verify_code: sVerifyCode
                 };
                 $.ajax({
                 dataType: AjaxCall.dataType,
                 type: AjaxCall.type,
                 contentType: AjaxCall.contentType,
                 url: '@Url.Action("SaveVerifyTraineeEmail", "Login")',
                 data: JSON.stringify({ ItemData: Param}),
                 success: function (respone) {
                 if (respone.result.Status == SysProcess.SessionExpired) {
                 PopupLogin('@Url.Action("Login", "Login")');
                 } else if (respone.result.Status == SysProcess.Success) {
                     DialogSuccess(DialogHeader.Info, respone.result.Msg);
                 }
                 else if (respone.result.Status == SysProcess.Duplicate) {
                 DialogWarning(DialogHeader.Warning, respone.result.Msg);
                 }
                 else {
                 DialogWarning(DialogHeader.Warning, respone.result.Msg);
                 }
                 },
                 error: AjaxCall.error,
                 complete: function (jqXHR, status) {//finaly
                 UnblockUI();
                 beforeChange();
                     $("#PopupVerify").modal('hide');
                     location.reload();
                 }
                 });
                 }
        }

    </script>
</body>
</html>
