
@{
    ViewBag.Title = "HCM | 360 Feedback";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}




<!-- Content Header (Page header) -->


<section class="content-header">
    <h1>
        360 Feedback - Give & Request
    </h1>
    <div class="row" hidden>
        <div class="box box-solid">
            <div class="box-body no-border no-pad-top no-pad-bot">
                <div class="row" id="search">

                </div>

            </div>
        </div>
    </div>

</section>

<div class="collapse in">
    <section class="content no-pad-top ">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">

                            <div class="box-tools pull-right">
                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active" id="li_1"><a href="#tab_1" data-toggle="tab">Instruction</a></li>
                                        <li id="li_2"><a href="#tab_2" data-toggle="tab"><strong class="text-danger">Give & Request </strong></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <br />
                                                    <br />
                                                    <div class="col-md-6" style="border: 1px solid #00aaaa;border-radius: 20px;padding:20px 50px;">
                                                        <h4><span style="color: #000080;"><strong>How to provide feedback</strong><strong>?</strong></span></h4>
                                                        <p><strong>&nbsp;</strong>Providing feedback can be a daunting challenge, whether it is something you&rsquo;ve not done before or if you are experienced in doing it already. Here are some practical considerations to keep in mind:</p>
                                                        <p>‒ <strong><em>How would you feel </em></strong>if you were the recipient of this information? Be honest with yourself and adjust your approach accordingly.</p>
                                                        <p>‒ <strong><em>Ask questions </em></strong>that lead people to have insights about their performance, rather than directly telling them how they could improve.</p>
                                                        <p>‒ <strong><em>Be specific </em></strong>in describing the behavior. This helps to ensure that your comments are objective.</p>
                                                        <p>‒ <strong><em>Use examples </em></strong>you have observed where possible instead of relying on information provided by others (especially for developmental feedback).</p>
                                                        <p>‒ <strong><em>Use your emotional intelligence</em></strong>. Conversations seldom go as planned. Your questions may need to change as the conversation evolves. Use emotional intelligence to adapt as necessary.</p>
                                                        <p>‒ <strong><em>Praise for a job well done</em></strong>. If you see a positive change in behavior after you&rsquo;ve provided feedback &ndash; praise them &ndash; this embeds the new behavior. To make sure your feedback is meaningful and structured, you can use the <strong>CEDAR</strong> model.</p>

                                                        <p><span style="color: #00348e;"><strong style="font-size:20px;">C</strong><strong>ontext</strong></span></p>
                                                        <p>
                                                            <span style="color: #00348e;">Set the scene. Let them know that you&rsquo;d like to discuss something they&rsquo;ve done well,&nbsp;</span>
                                                            <span style="color: #00348e;">or an area of development. State what this is, explain how it compares to their usual&nbsp;</span>
                                                            <span style="color: #00348e;">performance and the impact it has had on the team, client or member firm (as&nbsp;</span>
                                                            <span style="color: #00348e;">relevant).</span>
                                                        </p>

                                                        <p><span style="color: #005db9;"><strong style="font-size:20px;">E</strong><strong>xamples</strong></span></p>
                                                        <p>
                                                            <span style="color: #005db9;">Use specific examples to illustrate your feedback. The more specific you are the&nbsp;</span>
                                                            <span style="color: #005db9;">more meaningful feedback can be.</span>
                                                        </p>

                                                        <p><span style="color: #0092db;"><strong style="font-size:20px;">D</strong><strong>iagnosis</strong></span></p>
                                                        <p>
                                                            <span style="color: #0092db;">Ask for the individual&rsquo;s view of the situation. Jointly explore the reasons for this&nbsp;</span>
                                                            <span style="color: #0092db;">performance. Listen carefully. What challenges were faced? Ask further questions to&nbsp;</span>
                                                            <span style="color: #0092db;">clarify.</span>
                                                        </p>

                                                        <p><span style="color: #6e2078;"><strong style="font-size:20px;">A</strong><strong>ctions</strong></span></p>
                                                        <p>
                                                            <span style="color: #6e2078;">Ask the individual what actions might be taken in the future to leverage their&nbsp;</span>
                                                            <span style="color: #6e2078;">strengths or address their development areas, their knowledge or experience.</span>
                                                        </p>

                                                        <p><span style="color: #483699;"><strong style="font-size:20px;">R</strong><strong>eview</strong></span></p>
                                                        <p>
                                                            <span style="color: #483699;">If there are actions the individual would like to take set a date for review and support&nbsp;</span>
                                                            <span style="color: #483699;">progress where appropriate.</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6" style="border: 1px solid #00aaaa;border-radius: 20px;padding:20px 50px;">
                                                        <h4><span style="color: #000080;"><strong>Why should you ask for feedback?</strong></span></h4>
                                                        <p>By asking for feedback on how you <strong><em style="color: #00348e;">deliver impact</em></strong>, <strong><em style="color: #6e2078;">seek growth</em></strong> and <strong><em style="color: #483699;">inspire trust</em></strong>, you automatically put yourself in a better position to act on the feedback received.</p>
                                                        <p>The overall aim of asking for feedback is to obtain different perspectives on your performance to contribute to your learning and growth, and to provide a basis for deeper conversations with your performance manager.</p>
                                                        <p>Asking for feedback can often feel like uncomfortable. When someone gives us feedback, no matter how hard we try, our natural instincts tend to trigger a fight-or-flight response. By simply asking for feedback, we can overcome this response by reducing the perceived threat.</p>
                                                        <p>&nbsp;</p>
                                                        <p>Remember to:</p>
                                                        <p><strong><em>‒</em></strong><strong><em> Proactively ask for feedback throughout the year on a regular basis from a broad range of colleagues</em></strong> (people who are more senior, junior and peers).</p>
                                                        <p><strong><em>‒</em></strong><strong><em> Adopt a growth mindset when asking for feedback.</em></strong></p>
                                                        <p>&nbsp;</p>
                                                        <p>Remember, this is your feedback. You can choose how to use it and what to act upon.</p>

                                                    </div>
                                                    <div class="form-group form-group-sm col-sm-6 text-center">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <br />  <p> More details :</p>
                                                                <p>
                                                                    <a href="~/Manual/munual360/Providing feedback.pdf" target="_blank" class="btn btn-success" style="width:250px;">
                                                                        <span class="" title="Download" style="width:200px;">
                                                                            <span class="fa fa-download"></span> Providing feedback
                                                                        </span>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <a href="~/Manual/munual360/Asking for feedback.pdf" target="_blank" class="btn btn-success" style="width:250px;">
                                                                        <span class="" title="Download">
                                                                            <span class="fa fa-download"></span> Asking for feedback
                                                                        </span>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <a href="~/Manual/munual360/Adopting a growth mindset.pdf" target="_blank" class="btn btn-success" style="width:250px;">
                                                                        <span class="" title="Download">
                                                                            <span class="fa fa-download"></span> Adopting a growth mindset
                                                                        </span>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_2">
                                            <div class="row" id="search">
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">

                                                        <img id="imgProfile" src="~/Image/ic_noimage.png" width="150" style="margin:20px; border:2px solid white;border-radius:10px;box-shadow:4px 3px 5px 0px #0000001f;" />

                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="col-lg-12">
                                                            <div class="box box-solid box-ctmPR">
                                                                <div class="box-header with-border">
                                                                    <h3 class="box-title">Please Select Staff</h3>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <!-- form start -->
                                                                <div class="box-body">

                                                                    <div class="row">

                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group-sm">
                                                                                <label class="col-md-4 control-label text-right nomallabel">Name</label>
                                                                                <div class="col-md-8">
                                                                                    <input type="text" id="txtName" name="txtName" class="form-control" disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group-sm">
                                                                                <label class="col-md-4 control-label text-right require">Staff (Name/ID)</label>
                                                                                <div class="col-md-8">
                                                                                    <input type="text" class="form-control " style="display:none;" id="txtMGID" name="txtMGID" disabled>
                                                                                    <input type="text" id="txtSearch" name="txtSearch" class="form-control" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group-sm">
                                                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                                                <div class="col-md-8">
                                                                                    <input type="text" id="txtgroup" name="txtgroup" class="form-control" disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group-sm">
                                                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                                                <div class="col-md-8">
                                                                                    <input type="text" id="txtposition" name="txtposition" class="form-control" disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-body -->

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3 text-center" hidden>
                                                        <div class="col-sm-10 text-center" style="border: 1px solid gray;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px gainsboro;">
                                                            <br />
                                                            <div class="row">
                                                                <button type="button" class="btn btn-success" onclick="RequestFeedbackHis();" style="width:150px;">My Request History</button>
                                                            </div>
                                                            <br />
                                                            <div class="row ">
                                                                <button type="button" class="btn btn-info" onclick="GiveFeedbackHis();" style="width:150px;">Feedback Given</button>

                                                            </div>
                                                            @*<br />*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group form-group-sm col-sm-4  col-xs-4">

                                                    </div>

                                                    <div class="form-group form-group-sm col-sm-4  col-xs-4 text-center">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group-sm">
                                                                    <button id="btnGive" type="button" class="btn btn-info" onclick="GiveFeedback();" style="width:150px;">Give</button>
                                                                    <button id="btnRequest" type="button" class="btn btn-success" onclick="RequestFeedback();" style="width:150px;">Request</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="collapse in" id="divGiveFeedback" style="display:none;">
                                                <section class="content no-pad-top ">
                                                    <form class="form-horizontal">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <!-- general form elements -->
                                                                <div class="box box-primary">
                                                                    <div class="box-header with-border">
                                                                        Give Feedback
                                                                        <div class="box-tools pull-right">
                                                                            <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                                                <i class="fa fa-refresh"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.box-header -->
                                                                    <!-- form start -->
                                                                    <div class="box-body">
                                                                        <div class="row ">

                                                                            <div class="col-md-10">
                                                                                <div class="row">
                                                                                    <div class="col-md-3 text-right">
                                                                                        <span class="numberforrun n1">1</span><br />
                                                                                    </div>
                                                                                    <div class="col-md-9">
                                                                                        <p for="tarPositive" style="font-weight:600;font-size:16px;"> What impressed you the most about <span class="nameget"></span> ?</p>
                                                                                        <textarea id="tarPositive" rows="5" class="form-control" style="border: 1px solid #23af00;"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <br />
                                                                                <div class="row">
                                                                                    <div class="col-md-4 text-right">
                                                                                        <span class="numberforrun n2">1.1</span><br />
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <p for="tarStrength" style="font-weight:600;font-size:14px;">Describe the events/situations that you were impressed by <span class="nameget"></span> </p>
                                                                                        <textarea id="tarStrength" rows="3" class="form-control" style="border: 1px solid #00af4e;"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <br />
                                                                                <div class="row">
                                                                                    <div class="col-md-3 text-right">
                                                                                        <span class="numberforrun n3">2</span><br />
                                                                                    </div>
                                                                                    <div class="col-md-9">
                                                                                        <p for="tarNeed_Improvement" style="font-weight:600;font-size:16px;">What recommendations would you like to give to <span class="nameget"></span>? In which area(s) that <span class="nameget"></span> can develop ?</p>
                                                                                        <textarea id="tarNeed_Improvement" rows="5" class="form-control" style="border: 1px solid #045ca7"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <br />
                                                                                <div class="row">
                                                                                    <div class="col-md-4 text-right">
                                                                                        <span class="numberforrun n4">2.1</span>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <p for="tarRecommendations" style="font-weight:600;font-size:14px;">Describe the events/situations that you noticed there were recommendations you wanted to give to <span class="nameget"></span> </p>
                                                                                        <textarea id="tarRecommendations" rows="3" class="form-control" style="border: 1px solid #0085ad;"></textarea>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col-md-12 text-center">
                                                                                <hr />
                                                                                <p for="txtForRate" style="font-weight:600;font-size:16px;">
                                                                                    Overall, what is your perception towards <spn class="nameget"></spn> ?
                                                                                </p>
                                                                                <span id="spForRateicon"></span>

                                                                                <input type="text" id="txtForRate" hidden />

                                                                                <div class="col-md-12 text-center">
                                                                                    <span id="icon1" class="emojiicon" onclick="$('#txtForRate').val('1');$('.emojiicon').css('font-size','40px');$(this).css('font-size','60px').css('transition','.3s ease-in-out');">&#128528;</span>
                                                                                    <span id="icon2" class="emojiicon" onclick="$('#txtForRate').val('2');$('.emojiicon').css('font-size','40px');$(this).css('font-size','60px').css('transition','.3s ease-in-out');">&#128522;</span>
                                                                                    <span id="icon3" class="emojiicon" onclick="$('#txtForRate').val('3');$('.emojiicon').css('font-size','40px');$(this).css('font-size','60px').css('transition','.3s ease-in-out');">&#128515;</span>


                                                                                </div>
                                                                                <br /> <br /> <br />
                                                                                <hr />
                                                                            </div>
                                                                        </div>

                                                                        <div class="row" id="forbuttonaction">
                                                                            <br />
                                                                            <div class="form-group form-group-sm col-xs-12  text-center">
                                                                                <button type="button" class="btn btn-info" onclick="SaveData();">Submit</button>
                                                                                <button type="button" class="btn btn-danger" onclick="location.reload();">Cancel</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <!-- /.box-body -->
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </form>
    </section>
</div>


<div id="PopuplstRequestHis" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  widthPOP">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #337ab7;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title">
                    <b style="color: white;">
                        <span class="fa fa-info-circle"></span>&nbsp; My Request History
                    </b>
                </span>
            </div>
            <div class="modal-body text-center">


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover display" id="gvwData" width="100%">
                                <thead>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times-circle"></span>&nbsp; close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .emojiicon {
        font-size: 40px;
        cursor: pointer;
    }

    .numberforrun {
        padding: 5px 15px;
        width: 60px;
        height: 60px;
        text-align: center;
        color: white;
        /* border: 1px #989898 solid; */
        border-radius: 50px;
        box-shadow: inset 4px 3px 5px 0px #717171;
    }

    .n1 {
        font-size: 40px;
        background-color: #23af00;
    }

    .n2 {
        font-size: 20px;
        background-color: #00af4e;
    }

    .n3 {
        font-size: 40px;
        background-color: #045ca7;
    }

    .n4 {
        font-size: 20px;
        background-color: #0085ad;
    }

    .n5 {
        background-color: #ff00e0;
    }

    .emojiicon:hover {
        font-size: 50px;
        transition: .3s ease-in-out;
    }

    .forloadmanual {
        padding: 5px;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: beige;
        margin: 10px;
        box-shadow: inset -2px -3px 4px 1px #9895ca;
    }


</style>
@section scripts{

    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>

    <script src="~/Scripts/plugins/moment/moment.js"></script>


    <script type="text/javascript">
var objModel = @Html.Raw(Json.Encode(Model));

            $('#PopuplstRequestHis').on('shown.bs.modal', function (e) {
                $('#gvwData').DataTable().columns.adjust().draw();
            })



        $(function () {
            SetAutocom("txtSearch");
            SetTable();
            BindData(objModel);
            ko.applyBindings(viewModel);
            $('#gvwData').DataTable().columns.adjust().draw();
            if (objModel != null) {
                if (objModel.maindata != null) {
                    var ids = objModel.maindata.Id;
                    $('#txtSearch').attr('readonly', true);
                    $('#divGiveFeedback').css('display', 'block');
                    $('#btnGive').css('display', 'none');
                    $('#btnRequest').css('display', 'none');

                    $('#txtSearch').val(objModel.maindata.Request_User);
                    $('#txtMGID').val(objModel.maindata.Request_User);



                    $('#tarPositive').val(objModel.maindata.Positive);
                    $('#tarStrength').val(objModel.maindata.Strength);
                    $('#tarNeed_Improvement').val(objModel.maindata.Need_Improvement);
                    $('#tarRecommendations').val(objModel.maindata.Recommendations);
                    var getrate = objModel.maindata.Rate;
                    if (getrate == "1") {
                        $('#icon1').click();
                    } else if (getrate == "2") {
                        $('#icon2').click();
                    } else if (getrate == "3") {
                        $('#icon3').click();
                    }
                    if (objModel.maindata.Positive != null
                        && objModel.maindata.Strength != null
                        && objModel.maindata.Need_Improvement != null
                        && objModel.maindata.Recommendations != null
                        && objModel.maindata.Rate != null)
                    {
                        if ((objModel.maindata.Positive.trim != ""
                            && objModel.maindata.Strength.trim != ""
                            && objModel.maindata.Need_Improvement.trim != ""
                            && objModel.maindata.Recommendations.trim != ""
                            && objModel.maindata.Rate.trim != "") || (objModel.maindata.Positive.trim() != ""
                                && objModel.maindata.Strength.trim() != ""
                                && objModel.maindata.Need_Improvement.trim() != ""
                                && objModel.maindata.Recommendations.trim() != ""
                                && objModel.maindata.Rate.trim() != ""))
                        {
                            $('#forbuttonaction').css('display', 'none');
                            $('#tarPositive').attr('readonly', true);
                            $('#tarStrength').attr('readonly', true);
                            $('#tarNeed_Improvement').attr('readonly', true);
                            $('#tarRecommendations').attr('readonly', true);
                            $('#icon1').prop("onclick", null);
                            $('#icon2').prop("onclick", null);
                            $('#icon3').prop("onclick", null);
                            $('#li_1,#tab_1').removeClass('active');
                            $('#li_2,#tab_2').addClass('active');

                            $('#li_1').css('display', 'none');
                        }

                    }


                    //getimage(objModel.maindata.Request_User);

                    var valget = [];
                    $.ajax({
                        dataType: AjaxCall.dataType,
                        type: AjaxCall.type,
                        async: false,
                        contentType: AjaxCall.contentType,
                        url: '@Url.Action("UserAutoCompleteAll", "HCMMasterData")',
                        data: JSON.stringify({ SearchItem: objModel.maindata.Request_User }),
                        success: function (data) {
                            valget = data;
                        }
                    });
                    ClearAuto(valget[0].user_name, valget[0].unit_name, valget[0].user_rank, valget[0].id);

                }
            }



            var getdata =  objModel.lstData;
            if (getdata != undefined && getdata != null && getdata.length > 0) {
                $('#gvwData').DataTable().clear().draw();
                $('#gvwData').dataTable().fnAddData(getdata);
                $('#gvwData').dataTable().fnDraw();

                $('#gvwData').DataTable().columns.adjust().draw();
            }
            else {
                $('#gvwData').DataTable().clear().draw();
                $('#gvwData').dataTable().fnDraw();
            }

        });


            function ClearMGR(vName, vGroup, vPosition, vID) {
                GetInputByID("txtName").val(vName);
                GetInputByID("txtgroup").val(vGroup);
                GetInputByID("txtposition").val(vPosition);
                GetInputByID("txtMGID").val(vID);
            }

        function GiveFeedback() {
            if ($('#txtSearch').val() != "") {
                $('#divGiveFeedback').css("display", "block");
                $('#btnGive').css("display", "none");
                $('#btnRequest').css("display", "none");
            }
            else {
                DialogWarning(DialogHeader.Warning, 'Please Select Staff', 'func', function () { });
            }
        }
        function RequestFeedback() {
            var getno = $('#txtMGID').val();
            if (getno != "") {

                BlockUI();
                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url: '@Url.Action("Request_Feedback", "Feedbacks")',
                    data: JSON.stringify({ staffNo: getno }),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                            PopupLogin('@Url.Action("Login", "Login")');
                        }
                        else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccessOk(DialogHeader.Info, "Your request has been sent.", 'func', function () {
                                location.reload();
                            });
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                    }
                });
            }
            else {
                DialogWarning(DialogHeader.Warning, 'Please Select Staff', 'func', function () { });
            }
        }


            function RequestFeedbackHis() {
                $('#gvwData').DataTable().columns.adjust().draw();
                $("#PopuplstRequestHis").modal();

            }

            //$(document).ajaxComplete(function () {
            //    alert('end');
            //    $('#gvwData').DataTable().columns.adjust().draw();
            //});
        function SetTable() {

            var objHeadClRequest = [
                { "title": "", "width": "2%", "className": "dt-center-ctm" },
                { "title": " Name", "width": "15%", "className": "dt-center-ctm", "data": "Given_User" },
                { "title": " Date", "width": "10%", "className": "dt-center-ctm", "data": "Create_Date" },
                { "title": " Status", "width": "10%", "className": "dt-center-ctm", "data": "Status" }


            ];
            var objTableRe = {
                sTableID: "gvwData",
                nDis: [],
                sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset

                EmptyTable: EmptyTable,
                objBeforeClRender: false,
                lengthMN: [[-1], ["All"]],
                //rowGroup: {
                //    dataSrc: 'Test_name_en'
                //},
                columnDefs: [
                    {

                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        },
                        "targets": 0
                    },


                    {
                        "render": function (data, type, row) {
                            return data == "Y" ? "<span class='fa fa-circle text-success'></span>&nbsp; Completed" : "<span class='fa fa-circle text-warning'></span>&nbsp; Requested";
                        },
                        "targets": 3
                    }
                ]
            };
            CreatTableJS(objTableRe);
        }

        function Search() {
            var lstSearch = ko.toJS(viewModel)


            return lstSearch;
        }

        function getimage(empno) {
            BlockUI();
            $.ajax({
                dataType: AjaxCall.dataType,
                type: AjaxCall.type,
                contentType: AjaxCall.contentType,
                url: '@Url.Action("getImageEmp", "Feedbacks")',
                data: JSON.stringify({ empNo: empno }),
                success: function (respone) {
                    $("#imgProfile").attr("src", respone.result.path);
                    //alert(respone.result.path);
                },
                error: AjaxCall.error,
                complete: function (jqXHR, status) {//finaly
                    UnblockUI();
                }
            });
        }
        function getimages(empno) {
            BlockUI();
            $.ajax({
                dataType: AjaxCall.dataType,
                type: AjaxCall.type,
                contentType: AjaxCall.contentType,
                url: '@Url.Action("imageGenerate", "Feedbacks")',
                data: JSON.stringify({ s: empno }),
                success: function (respone) {
                    $("#imgProfile").attr("src", respone);
                    //alert(respone.result.path);
                },
                error: AjaxCall.error,
                complete: function (jqXHR, status) {//finaly
                    UnblockUI();
                }
            });
        }

        function SaveData() {

            var Positive = $('#tarPositive').val();
            var Strength = $('#tarStrength').val();
            var Need_Improvement = $('#tarNeed_Improvement').val();
            var Recommendations = $('#tarRecommendations').val();
            var Rate = $('#txtForRate').val();
            if (Positive.trim == "" || Positive.trim() == "") {
                DialogWarning(DialogHeader.Warning, $('p[for="tarPositive"]').text());
                return false;
            }
            if (Strength.trim == "" || Strength.trim() == "") {
                DialogWarning(DialogHeader.Warning, $('p[for="tarStrength"]').text());
                return false;
            }
            if (Need_Improvement.trim == "" || Need_Improvement.trim() == "") {
                DialogWarning(DialogHeader.Warning, $('p[for="tarNeed_Improvement"]').text());
                return false;
            }
            if (Recommendations.trim == "" || Recommendations.trim() == "") {
                DialogWarning(DialogHeader.Warning, $('p[for="tarRecommendations"]').text());
                return false;
            }
            if (Rate == 0) {
                DialogWarning(DialogHeader.Warning, $('p[for="txtForRate"]').text());
                return false;
            }


            objModel.Id = 0;
            //if (Positive.trim() == "") {
            //    DialogWarning(DialogHeader.Warning, $('p[for="tarPositive"]').text(), 'func', function () { return false; });
            //}
            //else if (Strength.trim() == "") {
            //    DialogWarning(DialogHeader.Warning, $('p[for="tarStrength"]').text(), 'func', function () { return false; });
            //}
            //else if (Need_Improvement.trim() == "") {
            //    DialogWarning(DialogHeader.Warning, $('p[for="tarNeed_Improvement"]').text(), 'func', function () { return false; });
            //}
            //else if (Recommendations.trim() == "") {
            //    DialogWarning(DialogHeader.Warning, $('p[for="tarRecommendations"]').text(), 'func', function () { return false; });
            //}
            //else if (Rate.trim() == "") {
            //    DialogWarning(DialogHeader.Warning, $('p[for="txtForRate"]').text(), 'func', function () { return false;});
            //}
            //BlockUI();
            if (objModel.maindata != null)
            {
                objModel.Id = objModel.maindata.Id;
            }

            objModel.Positive = Positive;
            objModel.Strength = Strength;
            objModel.Need_Improvement = Need_Improvement;
            objModel.Recommendations = Recommendations;
            objModel.Rate = Rate;
            objModel.Request_User = $('#txtMGID').val();

            BindData(objModel);
            var param = ko.toJS(objModel);
            $.ajax({
                dataType: AjaxCall.dataType,
                type: AjaxCall.type,
                contentType: AjaxCall.contentType,
                url: '@Url.Action("Save_Feedback", "Feedbacks")',
                data: JSON.stringify({ ItemData: param }),
                success: function (respone) {
                    if (respone.result.Status == SysProcess.SessionExpired) {
                        PopupLogin('@Url.Action("Login", "Login")');
                    }
                    else if (respone.result.Status == SysProcess.Success) {
                        DialogSuccessOk(DialogHeader.Info, "Your feedback has been sent.", 'func', function () {
                            window.location.href = '@Url.Action("Feedbacks", "Feedbacks")';
                        });
                    }
                    else {
                        DialogWarning(DialogHeader.Warning, respone.result.Msg);
                    }
                },
                error: AjaxCall.error,
                complete: function (jqXHR, status) {//finaly
                    UnblockUI();
                }
            });


        }

        function SaveDatas(Type) {
            var IsPass = true;
            if (IsPass) {

                BlockUI();
                objModel.remark = $('#txtRemark').val();
                BindData(objModel);

                var Params = ko.toJS(viewModel);
                var idsub = $('#notxt').text();
                var Param;
                $.each(Params.lstData, function (key, value) {
                    if (value.Id == idsub) { Param = value; }
                });


                var Remark = $('#txtRemark').val();

                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url: '@Url.Action("SavePerdiem_Transport", "TraineePerdiemTransport")',
                    data: JSON.stringify({ ItemData: Param, type: Type, remark: Remark }),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                            PopupLogin('@Url.Action("Login", "Login")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccessOk(DialogHeader.Info, DialogMsg.SaveComplete, 'func', function () {
                                location.reload();

                            });
                        }
                        else if (respone.result.Status == SysProcess.Duplicate) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                    }
                });
            }
        }


        function LoadData() {
            $('#gvwData').DataTable().columns.adjust().draw();

            var nametxt = $('#txtSearch').val();
            var idtxt = $('#txtSearchNo').val();
            BlockUI();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadPerdiemTransportList", "TraineePerdiemTransport")',
                dataType: "json",
                data: { txtname: nametxt, txtid: idtxt },
                success: function (response) {


                },
                complete: function (jqXHR, status) {//finaly

                    UnblockUI();
                }
            });
        }
    </script>
    @*Script for bind Data KnockOut*@
    <script type="text/javascript">
        var viewModel = {

        };
        function ViewModel() {
            var self = this;
            self.conditionChecked = ko.observable(false);
            self.loadCondition = function () {
                //ajax request to get condition value. Suppose ajax request returned value "used". so
                self.conditionChecked("used");
            }
            self.loadCondition();
            ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh

                init: function (element, valueAccessor) {
                    var ctrl = $(element);
                    var sID = ctrl[0].id;
                    //initialize icheck to the element
                    $(element).iCheck({
                        radioClass: 'iradio_flat-green'
                    });
                    $(element).on('ifChecked', function (event) {

                        var observable = valueAccessor();
                        observable.checked(event.target.defaultValue); //assigning selected value

                    });

                },
                update: function (element, valueAccessor) {
                    var observable = valueAccessor();
                }
            };
        }
        function BindData(value) {
            if (viewModel == undefined) {
                viewModel = ko.mapping.fromJS(value);
                ViewModel();

            }
            else {
                ko.mapping.fromJS(value, {}, viewModel);

            }


        }
        function ClearAuto(vName, vGroup, vPosition, vID) {
             GetInputByID("txtName").val(vName);
             GetInputByID("txtgroup").val(vGroup);
             GetInputByID("txtposition").val(vPosition);
            GetInputByID("txtMGID").val(vID);

            $('.nameget').text(vName);
            if (vID != "") {
                getimage(vID);
            }
            else
            {
                $("#imgProfile").attr("src", "../Image/ic_noimage.png" );
            }
         }

        function SetAutocom(txtTarget) {
            $("input[id$=" + txtTarget + "]").on("keyup", function () {
                ClearAuto("", "", "", "");
            });
            $("input[id$=" + txtTarget + "]").autocomplete({
                //disabled: true,
                source: function (request, response) {
                    $.ajax({
                        dataType: AjaxCall.dataType,
                        global: false,
                        type: AjaxCall.type,
                        contentType: AjaxCall.contentType,
                        url: '@Url.Action("UserAutoCompleteAll", "HCMMasterData")',
                        data: JSON.stringify({ SearchItem: request.term }),
                        success: function (data) {
                            UnblockUI();
                            response($.map(data, function (item) {
                                return {
                                    value: item.id,
                                    label: item.id + " : " + item.user_name,
                                    user_id: item.user_id,
                                    user_no: item.id,
                                    user_name: item.user_name,
                                    unit_name: item.unit_name,
                                    user_rank: item.user_rank,
                                }
                            }));
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    ClearAuto(ui.item.user_name, ui.item.unit_name, ui.item.user_rank, ui.item.user_no);

                }

            });
        }
    </script>
}
<!-- /.content -->
