@model HumanCapitalManagement.ViewModel.PESVM.vPTREvaluation_obj_save
@{
    ViewBag.Title = "PES | Personal Plan Approve";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}
<section class="content-header">
    <h1>
        Approval Section : 2020 Personal Plan Approve
    </h1>
</section>
@*<section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"><i class="fa fa-warning text-yellow"></i></h2>
            <div class="error-content">
                <h3 class=" text-red">Website Under Maintenance</h3>
                <p>

                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    @{
        return;
    }*@
<!-- Main content -->
<section class="content">
    <form class="form-horizontal">
        <div id="divContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- general form elements -->
                            <div class="box box-solid box-ctmPR3">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@Html.Raw(HttpUtility.HtmlDecode(Model.yearcurrent)) Personal Plan</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <h4 class="">
                                        Partner / Director<small> (Thailand / Myanmar / Laos) </small>
                                    </h4>
                                    <div class="callout callout-primary" style="font-size: 13px;">
                                        <h4>Instruction for BU Heads/Group Heads/Practice Heads</h4>
                                        <p>
                                            Please review and approve the Partner/ Director’s Personal Performance Plan Form.
                                            <br />
                                            <br />
                                            Click “Revise” button, if you would like the Partner/Director to revise the form.
                                            <br />
                                            <br />
                                            Click “Approve” button to approve the form and send to next approver.
                                            <br />
                                            <br />
                                            <strong>
                                                Remark
                                            </strong> : All information is viewable by the appraisee
                                        </p>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: sname' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: sgroup' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: srank' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Status</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" data-bind='value: status_name' disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                </div>

                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box box-solid box-ctmPR3">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Submission & Approval Status</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="box-body  no-padding no-pad-bot no-pad-top">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover display" id="gvwDataApprove" width="100%">
                                                            <thead>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.box-body -->

                                    </div>
                                </div>
                            </div>
                            @if (Model.status_id == "2")
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="box box-solid box-ctmPR3">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">For BU Heads/Group Heads/Practice Heads/CEO</h3>

                                            </div>
                                            <!-- /.box-header -->
                                            <!-- form start -->
                                            <div class="box-body  ">
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer">

                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        @if (Model.eva_mode == "Plan")
                                                        {
                                                            if (Model.status_id == "2")
                                                            {
                                                                <button type="button" class="btn btn-primary" onclick="Save('Y');">Approve</button>
                                                                <button type="button" class="btn btn-danger" onclick="Save('N');">Revise</button>
                                                            }
                                                            <button type="button" class="btn btn-danger" onclick="Cancel();">Back</button>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box box-solid box-ctmPR3">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Reference</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="box-body  no-padding no-pad-bot no-pad-top">
                                            @if (Model.status_id == "1" || Model.status_id == "3")
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 " id="divUploadDoc">
                                                        <div class="form-group form-group-sm">
                                                            <label class="col-md-2 control-label text-right nomallabel">Upload File</label>
                                                            <div class="col-md-8  form-inline">
                                                                <div class="input-group input-group-sm">
                                                                    <label class="input-group-btn">
                                                                        <span class="btn btn-primary">
                                                                            Browse&hellip;
                                                                            <input type="file" id="btnUpload3" multiple name="files[]" style="display: none;" accept="application/msword, application/pdf" />
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form-control" readonly />
                                                                </div>
                                                                <span class="help-block">Support pdf,docx, Only</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-group-sm">
                                                            <label class="col-md-4 control-label text-right nomallabel">Description</label>
                                                            <div class="col-md-8">
                                                                <textarea rows="2" id="txtAnnotationDocu" cols="50" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <button id="btnAddFile" type="button" class="btn btn-primary">Upload</button>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover display" id="gvwDataFile" width="100%">
                                                            <thead>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Personal Plan Form</a></li>


                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- general form elements -->
                                                    <!-- form start -->
                                                    <div class="box-body">
                                                        <div class="col-md-12">
                                                            <div class="box box-solid box-ctmPR3">
                                                                <div class="box-header with-border">

                                                                    <h3 class="box-title">1. Top 3 Priorities and Action Plans</h3>
                                                                    <div class="box-tools pull-right">
                                                                        <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                                            <i class="fa fa-refresh"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body ">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover display" id="gvwDataQuestions" width="100%">
                                                                                    <thead>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /. box -->
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="box box-solid box-ctmPR3">
                                                                <div class="box-header with-border">
                                                                    @*<h3 class="box-title">Personal Performance Evaluation</h3>*@
                                                                    <h3 class="box-title">2. Development Goal (Stretch)</h3>
                                                                    <div class="box-tools pull-right">
                                                                        <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                                            <i class="fa fa-refresh"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body ">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover display" id="gvwDataQuestionsStretch" width="100%">
                                                                                    <thead>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /. box -->
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="box box-solid box-ctmPR3">
                                                                <div class="box-header with-border">

                                                                    <h3 class="box-title">2. KPIs</h3>
                                                                    <div class="box-tools pull-right">
                                                                        <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                                            <i class="fa fa-refresh"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body ">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover display" id="gvwDataKPI" width="100%">
                                                                                    <thead>
                                                                                        <tr>

                                                                                            <th class="dt-center-ctm" rowspan="2">Financial</th>
                                                                                            <th class="dt-center-ctm" colspan="2">
                                                                                                Target FY2020
                                                                                            </th>

                                                                                            <th class="dt-center-ctm" rowspan="2">
                                                                                                How to
                                                                                            </th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="dt-center-ctm ">
                                                                                                Practice/Group
                                                                                            </th>
                                                                                            <th class="dt-center-ctm ">Individual</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /. box -->
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="box box-solid box-ctmPR3">
                                                                <div class="box-header with-border">

                                                                    <h3 class="box-title">APPENDIX</h3>
                                                                    <div class="box-tools pull-right">
                                                                        <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                                                            <i class="fa fa-refresh"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body ">
                                                                    <h3 class="text-center">Guiding Principles for FY2020 Year-End Performance Evaluation</h3>
                                                                    <div class="callout " style="font-size: 12px;">
                                                                        <p>
                                                                            1. In addition to your achievements of Priorities set, the following KPIs will be used by BU Head, Group Head and CEO to evaluate your annual performance.
                                                                        </p>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-2">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover " cellspacing="0" id="gvwDataKPIsEva" width="100%">
                                                                                    <thead>
                                                                                        <tr>

                                                                                            <th class="dt-center-ctm " rowspan="2">KPIs</th>
                                                                                            <th class="dt-center-ctm " rowspan="2">
                                                                                                Weighted Score
                                                                                                (%)
                                                                                            </th>
                                                                                            <th class="dt-center-ctm " rowspan="2">
                                                                                                Excellent
                                                                                            </th>
                                                                                            <th class="dt-center-ctm " colspan="2">
                                                                                                Meet Expectations
                                                                                            </th>
                                                                                            <th class="dt-center-ctm " rowspan="2">
                                                                                                NI
                                                                                            </th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="dt-center-ctm ">
                                                                                                High
                                                                                            </th>
                                                                                            <th class="dt-center-ctm ">Low</th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="callout " style="font-size: 12px;">
                                                                        <p>
                                                                            2. You will need to provide critical incidents in each of the KPIs stated below as supporting evidence for BU Head, Group Head and CEO’s evaluation.
                                                                        </p>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-2">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover " cellspacing="0" id="gvwDataKPIsEva2" width="100%">
                                                                                    <thead>
                                                                                        <tr>

                                                                                            <th class="dt-center-ctm ">KPIs</th>
                                                                                            <th class="dt-center-ctm ">
                                                                                                Critical Incidents
                                                                                            </th>
                                                                                        </tr>

                                                                                    </thead>

                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /. box -->
                                                        </div>
                                                    </div>
                                                    <!-- /.box-body -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @*<%--[modal] before Add--%>*@
    <div id="PopupSave" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog  widthPOP">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Confirmation</b></span>
                </div>
                <div class="modal-body">
                    <div id="divCreatePopUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12 text-center">Do you want to approve this Personal Plan form?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" onclick="SaveData()" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @*<%--[modal] before Add--%>*@
    <div id="PopupReject" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog  widthPOP">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><b style="color: white;">Enter reason/area you would like the appraisee to revise</b></span>
                </div>
                <div class="modal-body">
                    <div id="divCreatePopUp">
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-12 text-center">Enter </label>
                                    </div>
                                </div>
                            </div>*@
                        <br />
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <label class="col-md-4 control-label text-right require">Comment</label>
                                <div class="col-md-8">
                                    <textarea rows="3" id="txtDesrevise" cols="50" class="form-control" data-bind="value: revise_remark , valueUpdate: 'afterkeydown'"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" onclick="SaveData()" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hfdSessFile" name="hfdSessFile" class="form-control" data-bind='value: Session' />
</section>
@section style{
    <link href="~/Scripts/plugins/bootstrapValidate/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/DataTables2/rowReorder.dataTables.min.css" rel="stylesheet" />
    <style>
        .dt-HeadGr-ctm {
            background-color: #2952a3;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-total-ctm {
            background-color: #36c61a;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-totalAll-ctm {
            background-color: rgb(255, 222, 35);
            color: rgb(0, 0, 0);
            vertical-align: middle;
        }

        table.dataTable {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
}
@section scripts{
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script src="~/Scripts/plugins/jquery-inputmask/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>
    <script src="~/Scripts/plugins/DataTables2/dataTables.rowReorder.min.js"></script>
    <script src="~/Scripts/plugins/DataTables2/dataTables.rowGroup.min.js"></script>

    <script type="text/javascript">
        var url = document.URL;
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);

            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
    <script type="text/javascript">
        var sUrlBack = '@Url.Action("PTRPlanApproveList", "PTRApprove")';
        var Approve = "";
        var objMaxLength = [
            { ctrlID: "txtDes", ctrlType: "area", MaxLength: 9999 }];
       var objModel = @Html.Raw(Json.Encode(Model));

        function GetData() {
            //var lstQuestion = $('#gvwData').dataTable().fnGetData();
            var lstSave = ko.toJS(viewModel);
            //lstSave.lstQuestion = lstQuestion;
            return lstSave;
        }
    </script>

    @*Script for bind Data KnockOut*@
    <script type="text/javascript">

        function Cancel() {
            window.location.href = sUrlBack;
        }
        function SetTableApprove() {
            var objHeadClRequest = [
                { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "nStep", "visible": false },
                { "title": "Position", "width": "25%", "className": "dt-left-ctm", "data": "step_name", "searchable": false, "orderable": false },
                { "title": "Name", "width": "35%", "className": "dt-left-ctm", "data": "app_name", "searchable": false, "orderable": false },
                { "title": "Submitted/Approved<br/>Date ", "width": "35%", "className": "dt-center-ctm", "data": "approve_date", "searchable": false, "orderable": false },
                { "title": "", "width": "0%", "className": "dt-center-ctm", "data": "description", "searchable": false, "orderable": false, "visible": false },
            ];

            var objTableRe = {
                sTableID: "gvwDataApprove",
                nDis: [],
                sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset
                nHeadFix: 0,// fix clr
                EmptyTable: EmptyTable,
                order: [[0, "asc"]],
                objBeforeClRender: false,
                lengthMN: [[-1], ["All"]],
                fixedHeader: {
                    header: false,
                    footer: false
                },
                rowGroup: {
                    enable: false
                }
            };
            var table = CreatTableJS(objTableRe);
        }

        function LoadFile(sVal)
        {
            if (ko.toJS(viewModel.IdEncrypt) != undefined)
            {

                BlockUI();
                window.open('@Url.Action("CreatPTREvaluationFile", "PTREvaluation")?id=' + sVal, '_blank');
                setTimeout(function () { UnblockUI(); }, 500);
            }
        }
    </script>
    <script type="text/javascript">

        function CreateTextAreaInt(sID, sMaxlength, sValue, sDisable, sRow) {
            $("input[id$=" + sID + "]").unbind();
            var sDis = "";
            if (sDisable != undefined && sDisable == "Y") {
                sDis = "disabled";
            }
            if (sRow == undefined || sRow == null) {
                sRow = 3;
            }

            var sSetValue = sValue != undefined && sValue != "" ? "value='" + sValue + "'" : "";
            var sMaxlength = sMaxlength != undefined && sMaxlength != "" ? "maxlength='" + sMaxlength + "'" : "";
            var sHtml = "<textarea rows='" + sRow + "' cols='50'  id='" + sID + "' name='" + sID + "' class='form-control' " + sMaxlength + " " + sSetValue + " style='width:100%;' " + sDis + "  >" + sValue + "</textarea>";

            return sHtml;
        }



    </script>

}
@if (Model.eva_mode == "Plan")
{

    @section scripts2{
        <script type="text/javascript">
              $(function () {
           SetTableKPIs();
            SetTableApprove();
                  SetTableQuestions();
                  SetTableQuestionsStretch();
                  SetTableFile();
                  SetTableKPIsEva();
                  SetTableKPIsEva2();
            BindData(objModel);
            ko.applyBindings(viewModel);


            SetMaxLeangthJS(objMaxLength);
            @if (Request.QueryString["bUrl"] != null)
            {
            <text>
            sUrlBack +="?qryStr="+  '@Uri.EscapeDataString(Request.QueryString["bUrl"])';
            </text>
            }
            //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //    if (e.target.hash == '#tab_1') {
            //        $('#gvwDataQuestions').DataTable().columns.adjust().draw();
            //        $('#gvwDataKPI').DataTable().columns.adjust().draw();
            //        $('#gvwDataKPIsEva').DataTable().columns.adjust().draw();
            //        $('#gvwDataKPIsEva2').DataTable().columns.adjust().draw();
            //    }
            //});
        });
        </script>
        <script type="text/javascript">
            function SetTableFile() {
                var objHeadClRequest = [
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "Edit" },
                    { "title": "File Name", "width": "35%", "className": "dt-left-ctm", "data": "file_name", "searchable": false, "orderable": false },
                    { "title": "Description", "width": "55%", "className": "dt-left-ctm", "data": "description", "searchable": false, "orderable": false },
                    { "title": "", "width": "10%", "className": "dt-center-ctm", "data": "View", "searchable": false, "orderable": false },
                ];

                var objTableRe = {
                    sTableID: "gvwDataFile",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: [], //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[0, "asc"]],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    fixedHeader: {
                        header: false,
                        footer: false
                    },
                    rowGroup: {
                        enable: false
                    },
                    columnDefs: [
                        //{
                        //    "targets": 1,
                        //              "render": function (data, type, row, meta) {
                        //                               return row.Edit +" "+data;
                        //                        }
                        //                    } ,

                    ],
                    //nRunningNumber: ["true", 0],
                };
                var table = CreatTableJS(objTableRe);
            }
            function SetTableKPIs() {
                var objHeadClRequest = [
                    { "width": "25%", "className": "dt-left-ctm dt-mid-ctm", "data": "sname", "searchable": false, "orderable": false, },
                    { "width": "10%", "className": "dt-center-ctm dt-mid-ctm", "data": "target_group", "searchable": false, "orderable": false, },
                    { "width": "10%", "className": "dt-center-ctm dt-mid-ctm", "data": "target_data", "searchable": false, "orderable": false, },
                    { "width": "55%", "className": "dt-center-ctm dt-mid-ctm", "data": "howto", "searchable": false, "orderable": false, },
                    { "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "sdisable", "visible": false },
                    { "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "IdEncrypt", "visible": false },
                ];

                var objTableRe = {
                    sTableID: "gvwDataKPI",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: [], //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[5, "asc"]],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    columnDefs: [
                        {
                            "targets": 3,
                            "render": function (data, type, row) {
                                return CreateTextAreaInt("txtRemarkKPI" + row.IdEncrypt, 9999, row.howto, row.sdisable, 10);
                            },
                        }
                    ],
                    rowGroup: {
                        enable: false
                    }
                };

                var table = CreatTableJS(objTableRe);
                $('#' + objTableRe.sTableID + '').dataTable().on('draw.dt', function (settings) {
                    $("div[id$=" + objTableRe.sTableID + "_wrapper] div.icheckbox_flat-green input[id$=chkRow]").iCheck('uncheck');

                    UnCheckCheckBoxHeader("ckbAll");
                    SetICheck();
                    //$('#ckbAll').iCheck('destroy');
                    $('div[id=' + objTableRe.sTableID + '_wrapper] div.DTFC_ScrollWrapper ').height($('div[id=' + objTableRe.sTableID + '_wrapper] div.DTFC_ScrollWrapper div.dataTables_scroll').height());

                });
                SetICheck();
            }
            function SetTableQuestions() {
                var objHeadClRequest = [
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "id", "visible": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "header", "visible": false },
                    { "title": "Question", "width": "38%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "question", },
                    { "title": "Answer", "width": "62%", "className": "dt-left-ctm", "data": "remark", "searchable": false, "orderable": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "sgroup", "visible": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "sdisable", "visible": false },
                ];

                var objTableRe = {
                    sTableID: "gvwDataQuestions",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: [], //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[0, "asc"]],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    columnDefs: [{
                        "targets": 2,
                        "render": function (data, type, row) {
                            sHtml = "<strong>" + row.header + "</strong><br/>" + data;
                            return sHtml;
                        }
                    }, {
                        "targets": 3,
                        "render": function (data, type, row) {
                            return CreateTextAreaInt("txtRemarkQst" + row.id, 9999, row.remark, row.sdisable, 10);
                        }
                    }],
                    fixedHeader: {
                        header: false,
                        footer: false
                    }
                    , rowGroup: {
                        'startRender': function (rows, group) {
                            return $('<tr/>')
                                .append('<td class="dt-HeadGr-ctm dt-center-ctm"  colspan="2" ><strong style="font-size: 16px;">' + group + '</strong></td>');
                        },
                        'endRender': null,
                        'dataSrc': 'sgroup'
                    }

                };

                var table = CreatTableJS(objTableRe);

            }
            function SetTableQuestionsStretch() {
                var objHeadClRequest = [
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "id", "visible": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "header", "visible": false },
                    { "title": "Question", "width": "38%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "question", },
                    { "title": "Answer", "width": "62%", "className": "dt-left-ctm", "data": "remark", "searchable": false, "orderable": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "sgroup", "visible": false },
                    { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "sdisable", "visible": false },
                ];

                var objTableRe = {
                    sTableID: "gvwDataQuestionsStretch",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: [], //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[0, "asc"]],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    columnDefs: [{
                        "targets": 2,
                        "render": function (data, type, row) {
                            sHtml = "<strong>" + row.header + "</strong><br/>" + data;
                            return sHtml;
                        }
                    }, {
                        "targets": 3,
                        "render": function (data, type, row) {
                            return CreateTextAreaInt("txtRemarkQst" + row.id, 9999, row.remark, row.sdisable, 10);
                        }
                    }],
                    fixedHeader: {
                        header: false,
                        footer: false
                    }
                    , rowGroup: {
                        'startRender': function (rows, group) {
                            return $('<tr/>')
                                .append('<td class="dt-HeadGr-ctm dt-center-ctm"  colspan="2" ><strong style="font-size: 16px;">' + group + '</strong></td>');
                        },
                        'endRender': null,
                        'dataSrc': 'sgroup'
                    }


                };

                var table = CreatTableJS(objTableRe);

            }
            function SetTableKPIsEva() {
                var objHeadClRequest = [

                    { "width": "35%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "th1" },
                    { "width": "13%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "th2" },
                    { "width": "13%", "className": "dt-right-ctm", "searchable": false, "orderable": false, "data": "th3" },
                    { "width": "13%", "className": "dt-right-ctm", "searchable": false, "orderable": false, "data": "th4" },
                    { "width": "13%", "className": "dt-right-ctm", "searchable": false, "orderable": false, "data": "th5" },
                    { "width": "13%", "className": "dt-right-ctm", "searchable": false, "orderable": false, "data": "th6" },
                ];
                var objData = [{ "th1": "1. Financials", "th2": "30", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "2. People", "th2": "15", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "3. Client", "th2": "15", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "4. Public Trust", "th2": "15", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "5. Quality and Risk", "th2": "15", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "6. Stretch Development Goals", "th2": "10", "th3": "", "th4": "", "th5": "", "th6": "", },
                ]
                var objTableRe = {
                    sTableID: "gvwDataKPIsEva",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: objData, //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[0, "asc"]],
                    //columnDefs: [],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    fixedHeader: {
                        header: false,
                        footer: false
                    },
                    rowGroup: {
                        enable: false
                    }
                };

                CreatTableJS(objTableRe);
            }
            function SetTableKPIsEva2() {
                var objHeadClRequest = [

                    { "width": "35%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "th1" },
                    { "width": "65%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "th2" },
                ];
                var objData = [{ "th1": "1. Financials", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "2. People", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "3. Client", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "4. Public Trust", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "5. Quality and Risk", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                { "th1": "6. Stretch Development Goals", "th2": "", "th3": "", "th4": "", "th5": "", "th6": "", },
                ]
                var objTableRe = {
                    sTableID: "gvwDataKPIsEva2",
                    nDis: [],
                    sProperty: "<'top col-md-6'>rt<'bottom col-md-6'><'bottom col-md-6 text-right'><'clear'>",
                    objHeadCl: objHeadClRequest,//Table Headder
                    objDataSet: objData, //dataset
                    nHeadFix: 0,// fix clr
                    EmptyTable: EmptyTable,
                    order: [[0, "asc"]],
                    //columnDefs: [],
                    objBeforeClRender: false,
                    lengthMN: [[-1], ["All"]],
                    fixedHeader: {
                        header: false,
                        footer: false
                    },
                    rowGroup: {
                        enable: false
                    }
                };

                CreatTableJS(objTableRe);
            }
            var viewModel = {

            };
            function ViewModel() {
                var self = this;
                self.conditionChecked = ko.observable(false);
                self.loadCondition = function () {
                    //ajax request to get condition value. Suppose ajax request returned value "used". so
                    self.conditionChecked("used");
                }
                self.loadCondition();
                ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh
                    init: function (element, valueAccessor) {
                        var ctrl = $(element);
                        var sID = ctrl[0].id;
                        //initialize icheck to the element
                        $(element).iCheck({
                            radioClass: 'iradio_flat-green'
                        });
                        $(element).on('ifChecked', function (event) {
                            var observable = valueAccessor();
                            observable.checked(event.target.defaultValue); //assigning selected value
                        });
                    },
                    update: function (element, valueAccessor) {
                        var observable = valueAccessor();
                    }
                };
            }
            function BindData(value) {
                if (viewModel.Id == undefined) {
                    viewModel = ko.mapping.fromJS(value);
                    ViewModel();

                    if (objModel.lstApprove != undefined && objModel.lstApprove != null && objModel.lstApprove.length > 0) {
                        $('#gvwDataApprove').DataTable().clear().draw();
                        $('#gvwDataApprove').dataTable().fnAddData(objModel.lstApprove);
                        $('#gvwDataApprove').dataTable().fnDraw();

                        setTimeout(function () {
                            $('#gvwDataApprove').DataTable().columns.adjust().draw();
                            $('#gvwDataApprove').DataTable().columns.adjust().responsive.recalc();
                        }, 500);
                    }
                    else {
                        $('#gvwDataApprove').DataTable().clear().draw();
                        $('#gvwDataApprove').dataTable().fnDraw();
                    }

                    if (objModel.lstFile != undefined && objModel.lstFile != null && objModel.lstFile.length > 0) {
                        $('#gvwDataFile').DataTable().clear().draw();
                        $('#gvwDataFile').dataTable().fnAddData(objModel.lstFile);
                        $('#gvwDataFile').dataTable().fnDraw();

                        setTimeout(function () {
                            $('#gvwDataFile').DataTable().columns.adjust().draw();
                            $('#gvwDataFile').DataTable().columns.adjust().responsive.recalc();
                        }, 500);
                    }
                    else {
                        $('#gvwDataFile').DataTable().clear().draw();
                        $('#gvwDataFile').dataTable().fnDraw();

                    }

                    if (objModel.lstKPIs != undefined && objModel.lstKPIs != null && objModel.lstKPIs.length > 0) {
                        $('#gvwDataKPI').DataTable().clear().draw();
                        $('#gvwDataKPI').dataTable().fnAddData(objModel.lstKPIs);
                        $('#gvwDataKPI').dataTable().fnDraw();

                        setTimeout(function () {
                            $('#gvwDataKPI').DataTable().columns.adjust().draw();
                            $('#gvwDataKPI').DataTable().columns.adjust().responsive.recalc();
                        }, 500);
                    }
                    else {
                        $('#gvwDataKPI').DataTable().clear().draw();
                        $('#gvwDataKPI').dataTable().fnDraw();

                    }
                    if (objModel.lstAnswer != undefined && objModel.lstAnswer != null && objModel.lstAnswer.length > 0) {
                        $('#gvwDataQuestions').DataTable().clear().draw();
                        $('#gvwDataQuestions').dataTable().fnAddData(Enumerable.From(objModel.lstAnswer).Where(function (w) { return w.nCID != 21 && w.nCID != 22 && w.nCID != 26 }).ToArray());
                        $('#gvwDataQuestions').dataTable().fnDraw();

                        $('#gvwDataQuestionsStretch').DataTable().clear().draw();
                        $('#gvwDataQuestionsStretch').dataTable().fnAddData(Enumerable.From(objModel.lstAnswer).Where(function (w) { return w.nCID == 21 || w.nCID == 22 || w.nCID == 26 }).ToArray());
                        $('#gvwDataQuestionsStretch').dataTable().fnDraw();
                        setTimeout(function () {
                            $('#gvwDataQuestions').DataTable().columns.adjust().draw();
                            $('#gvwDataQuestions').DataTable().columns.adjust().responsive.recalc();
                            $('#gvwDataQuestionsStretch').DataTable().columns.adjust().draw();
                            $('#gvwDataQuestionsStretch').DataTable().columns.adjust().responsive.recalc();
                        }, 500);
                    }
                    else {
                        $('#gvwDataQuestions').DataTable().clear().draw();
                        $('#gvwDataQuestions').dataTable().fnDraw();
                        $('#gvwDataQuestionsStretch').DataTable().clear().draw();
                        $('#gvwDataQuestionsStretch').dataTable().fnDraw();
                    }

                }
                else {
                    ko.mapping.fromJS(value, {}, viewModel);
                }
            }
        </script>
        @if (Model.status_id == "2")
        {
            <script type="text/javascript">


                function Save(sVal) {
                    Approve = sVal;
                    var IsPass = false;
                    if (Approve + "" == "Y") {
                        IsPass = true;
                    }
                    else if (Approve + "" == "N") {
                        IsPass = true;

                    }
                    else {
                        DialogError(DialogHeader.Error, "Error,Place Call Admin.");
                        return;
                    }
                    if (IsPass && Approve + "" == "Y") {
                        $("#PopupSave").modal();
                    }
                    else if (IsPass && Approve + "" == "N") {
                        $("#PopupReject").modal();
                    }

                }
        function SaveData() {
            var IsPass = true;

            var Check = GetValTextArea("txtDesrevise");
            if (Check + "" != "" || Approve != "N") {
                IsPass = true;
            }
            else {
                IsPass = false;
                DialogWarning(DialogHeader.Warning, "Comment sent to appraisee");
            }
            if (IsPass) {
                $("#PopupSave").modal('hide');
                $("#PopupReject").modal('hide');
                BlockUI();
                var Param = ko.toJS(viewModel);

                $.ajax({
                    dataType: AjaxCall.dataType,
                    type: AjaxCall.type,
                    contentType: AjaxCall.contentType,
                    url: '@Url.Action("ApprovePersonalPlan", "PTRApprove")',
                    data: JSON.stringify({ ItemData: Param, sMode: Approve }),
                    success: function (respone) {
                        if (respone.result.Status == SysProcess.SessionExpired) {
                             PopupLogin('@Url.Action("Index", "Home")');
                        } else if (respone.result.Status == SysProcess.Success) {
                            DialogSuccessOk(DialogHeader.Info, respone.result.Msg, 'func', function () {

                                var prodId = getParameterByName('bUrl');
                                if (prodId != "") {
                                    window.location.href = sUrlBack;
                                }
                                else {
                                    window.location.href = sUrlBack + '?qryStr=%7B%0D%0A%20%20"active_status"%3A%20"Y"%0D%0A%7D';
                                }
                            });
                        }
                        else if (respone.result.Status == SysProcess.Duplicate) {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                        else {
                            DialogWarning(DialogHeader.Warning, respone.result.Msg);
                        }
                    },
                    error: AjaxCall.error,
                    complete: function (jqXHR, status) {//finaly
                        UnblockUI();
                    }
                });
            }
        }
            </script>
        }
    }
}
